* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html, body{
	overflow-x: hidden;
}
::-webkit-scrollbar {display: none;} 

a {
	text-decoration: none;
	color:#fff;
}

.contenedor {
	width: 100vw;
	height: 100vh;
	margin: 0 auto;
	display: grid;
	grid-template-columns: minmax(10px, 50px) auto;
	grid-template-rows: 65px auto;
	grid-template-areas: "header header"
						 "menu contenido";
	transition: all .3s ease;
}

.contenedor.active {
	grid-template-columns: minmax(210px, 20%) auto;
}

/* ---- ---- ---- HEADER ---- ---- ---- */
.header {
	grid-template-columns: auto 1fr auto;
	grid-area: header;
	padding: 0 20px;
	display: grid;

	align-items: center;
	justify-content: space-between;
	grid-gap: 10px;
	grid-template-areas: "logo busqueda iconos";
}

.header .contenedor-logo {

	grid-area: logo;
	display: flex;
	align-items: center;

}

.header .contenedor-logo .boton-menu {

	border: none;
	padding: 10px;
	cursor: pointer;
	font-size: 18px;
	text-align: center;
	border-radius: 100px;
	width: 50px;
	height: 50px;
	margin-right: 20px;
	color: rgb(255, 255, 255);
	background: #17002c;

}

.header .contenedor-logo .boton-menu:hover {
	background: #f8f8f8;
	color: rgb(37, 10, 63);
}

.header .contenedor-logo .logo {
	font-family: 'Righteous', cursive;
	font-size: 30px;
	position: relative;
	top: 2px;
	color: #fff;
}
::placeholder { color: rgb(248, 248, 248); }
.header .barra-busqueda {
	grid-area: busqueda;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header .barra-busqueda input {
	min-width: 60%;
	padding: 0 15px;
	height: 35px;
	line-height: 35px;
	font-size: 16px;
	background: #1f004760;
	;
}
.header .barra-busqueda input:focus-visible{
    border-style: none;
}
.header .barra-busqueda button {
	height: 35px;
	border: 1px solid transparent;
	border-left: none;
	color:#ffffff;
	background: #17002c;
	box-shadow:  10px 10px 0px #140025,
				 -10px -10px 0px #1a0033;
	padding: 0 25px;
	cursor: pointer;
}
.dropdown-toggle::after{
	content: none;
}
.dropdown-menu hr{
	margin: 5px;
	border-top: none;
}
.dropdown-menu{
	background: #191d30;
	color: #92ff52;
}
.header .barra-busqueda button:hover {
	color:#36227e ;
	background: #f0f0f0;
	border-color:#f0f0f0 ;
}
.dropdown-item{
	color: #17002c;
}
.dropdown-item:hover, .dropdown-item:focus{
	background: linear-gradient(120deg,#5fc1f1c9  0%,#97f1b8e7  100%);
}
.header .botones-header {
	grid-area: iconos;
}

.header .botones-header button {
	background: none;
	border: none;
	width: 40px;
	height: 40px;
	font-size: 20px;
	margin: 7px 12px ;
	border-radius: 100px;
	color: #17002c;
	margin-right: 20px;
	cursor: pointer;
}

.header .botones-header button:hover {
	background: #f0f0f0;
	color: #22337e;
}

/* ---- ---- ---- Menu Lateral ---- ---- ---- */

.menu-lateral {
	grid-area: menu;
	background: #17002c;
	padding-left: 5px;
	padding-top: 15PX;
	height: 100%;
	width: 100%;
}

.menu-lateral a {
	text-decoration: none;
	padding: 15px 8px 15px 5px;
	color: #ffffff;
}

.option:hover  {
	content: '';
	width: 3px;
	height: 45px;
	background: #b3b3b3;
	position: absolute;
	left: 7px;
}
.option.active:before {
	content: '';
	width: 3px;
	height: 80%;
	background: #ffffff;
	position: absolute;
	left: 5px;
}

.menu-lateral , .option.active .fas {
	
	font-weight: bold;
	color: #ffffff;
}
.option.active .fa-search-plus, .option.active #uno{
	color: #9900FF;
}
.option.active .fa-star, .option.active #dos{
	color: #00adff;
}
.option.active .fa-fire, .option.active #tres {
	color: #22ff00;
}
.option.active .fa-music, .option.active #cuatro {
	color: #dc3545;
}
.option.active .fa-folder, .option.active #cinco {
	color: #3224ca;
}
.option.active .fa-microphone-alt, .option.active #seis {
	color: #22ff00;
}
.option.active .fa-book, .option.active #siete {
	color: #d900ff;
}
.menu-lateral .fas {
	color: #ffffffa8;
	padding-right: 25px;
	padding-left: 23px;
}
.active .nombre {
	visibility: inherit;
	font-size: 13px;
}
.nombre{
	display: none;
	visibility: hidden;
	
}
.e-linea span{
 right: 0px !important;
 top: 5px;
}



.menu-lateral hr {
	margin: 20px 0;
	border: 1px solid #dfdfdf;
}

/* ---- ---- ---- Contenido Principal ---- ---- ---- */
.main {
	grid-area: contenido;
	
}
.main2{
	grid-area: contenido;
}
.main2 .titulo {
	margin-bottom: 20px;
	font-family: 'Righteous', cursive;
	color: #ffffff;
}

.main .titulo {
	margin-bottom: 20px;
	font-family: 'Righteous', cursive;
	color: #ffffff;
}

.main .cuerpo-audio {
	display: grid;
	grid-gap: 40px 0px;
	grid-template-columns: repeat(3, 1fr);
	background: #17002c;
	width: 90vw;
}				
.main .cuerpo-audio-2 {
	width: 80vw;
	display: grid;
	grid-gap: 30px 48px;
	grid-template-columns: repeat(6, 1fr);
}

.main .cuerpo-audio .caratula {
	width: 100%;
	display: block;
}
.main .cuerpo-audio-2 .caratula {
	width: 100%;
	display: block;
}
.main .cuerpo-audio .caratula img {
	width: 100%;
}
.main .cuerpo-audio-2 .caratula img {
	width: 100%;
}
.seleccion{
	position: relative;
	padding: 10px;
	display: inline-block;
	letter-spacing: 4px;
	color: #cccccc;
	font-weight: bold;
	font-size: 15px;
	text-decoration: none;
	overflow: hidden;
	transition: 0.2s;
	border-radius: 50px;
	background: linear-gradient(145deg, #651baf, #551794);
	box-shadow:  7px 7px 14px #401170,
				 -7px -7px 14px #7c21d8;
	align-items: center;
	cursor: pointer;
	width: 50%;
}

.seleccion:hover{
	background: #4d82c7;
	box-shadow:  -5px -0px 20px #375c8d,
				 5px 0px 20px #63a8ff;
	color: #fff;
}
.seleccion ::before{
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
[type="checkbox"]{
	display: none;
}
[type="checkbox"]:checked + .seleccion{
	background: #1aec79;
	box-shadow: 0px 0px 10px #1aec79, 0px 0px 20px #1aec79, 0px 0px 40px #1aec79;
	color: #090c3f;
	font-weight: bold;
}
.bttn-stretch{
	border:none;
	background: none;	
}
 .bttn-fill:hover, .bttn-fill::before, .bttn-fill:focus{
	background: #3cabc9;
	font-weight: 600;
	color:#0a2236 !important;
	border-radius: 15px  !important;
 }

/*recomendado*/	
.img-fluid{ 
	border-radius: 5px;
	height: 10rem; 
	width: 10rem; 
	overflow:hidden; 
	cursor: pointer; 
	box-shadow: 0 0 6px 0 rgb(0, 0, 0, .5);
}
.mask{
	border-radius: 5px;
	position: absolute;
	width: 10rem; 
	height: 10rem;
	top: 16px;
	transform: scale(1);
	background: linear-gradient(to right, #e9a1ff68, #4389a27b);
	transition: transform .5s;
	
}
.mask:hover{
	box-shadow: 0px 0px 10px #457fc7, 0px 0px 20px #457fc7, 0px 0px 40px #457fc7;
}
.mask h5{
	font-size: 1.2em;
	font-weight: 500;
	color: #09041e;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.mask p{
	font-weight: 400;
	font-size: 1em;
	opacity: 0.8;
	color: #000000;
}
.mask:active{
	transform: scale(0);
}

strong{
	color:#fff ;
}
em{
	color:#79dacd ;
}
.contiene-prim li> i{
	cursor: pointer;
}
.contiene-prim li> i:hover{
	font-size: 13px;
}
/* tendencias */

.bg-success{
	background-color: #10f285 !important;}
.table{
	width: 60vw !important;
	margin-left:100px ;
}
/* albums */
.rounded-circle, .fab {
	cursor: pointer;
}
.rounded-circle:hover {
	box-shadow: 0px 0px 80px 0px #8d13bd !important;
	width: 300px;
}
/* nuevo */
.col-3 >.fas:hover{
	cursor: pointer;
	color: rgba(255, 0, 0, 0.575);
}

/* ---- ---- ---- Mediaqueries ---- ---- ---- */
@media screen and (max-width: 1300px) {
	.main .cuerpo-audio {
		grid-template-columns: repeat(3, 1fr);
	}

	.header .contenedor-logo .logo span {
		display: none;
	}

	.header .barra-busqueda input {
		min-width: 70%;
	}

}

@media screen and (max-width: 992px) {
	.main .cuerpo-audio {
		grid-template-columns: repeat(2, 1fr);
	}
	.carousel{
		width: 80vw !important;
	}

}

@media screen and (max-width: 768px) {
	.contenedor {
		grid-template-rows: auto;
	}

	.header {
		padding: 20px;
		grid-template-columns: auto auto;
		justify-content: space-between;
		grid-template-areas: "logo iconos"
							 "busqueda busqueda";
	}

	.header .contenedor-logo .logo span {
		display: inline;
	}

	.header .barra-busqueda input {
		min-width: auto;
		width: 70%;
	}
}

@media screen and (max-width: 576px) {
	.tit-R{
		font-size: 30px !important;
	}
	.header{
		background-image: url(../../../../assets/fondos/h1.1.svg) !important;

	}
	
	.header .contenedor-logo{
		width: 45vw;
	}
	.header .botones-header button {
		font-size: 15px;
		margin: 0px;
		padding-left: 5px;
		padding-right: 5px;
	}
	.buscador{
		padding-right: 36px !important;
	}
	.main .cuerpo-audio {
		padding-top: 10px !important;
		grid-gap: 15px 6px;
		grid-template-columns: repeat(2, 1fr);
		width: 76vw;
		justify-content: center;
	}
	.main .cuerpo-audio-2 {

		grid-template-columns: repeat(2,120px);
		padding-top: 0px !important;
		padding-bottom: 0px !important;
		grid-gap: 16px 40px;
		margin: 0px!important;
		padding-left: 0px !important;
		width: 71vw;
		justify-content: center;
	}
	.main{

		padding-right:0px;
		width: 100%;
	}
	.main2{
		padding-left: 0px !important;
		width: 100vw;
	}
	.table{
		font-size: 10px;
		width: 360px !important;
	}
	.can{
		width: 85px !important;
	}
	.main .cuerpo-audio div{
		width: 100%;
		padding: 2px;
	}
	.main .cuerpo-audio-2 div{
		width: 100%;
		padding: 2px;
	}
	.seleccion{
		font-size: 15px;
		padding-left: 17px;
		text-align: center;
		width: 86%;
	}
	.Elec, .AudL{
		padding-left: 18px;
		padding-right: 18px;
	}
	.enviar-1{
		padding-top: 0px !important;
		width: 60vw;
	}
	.menu-lateral{
		margin-left: 0px !important;
		padding-left: 0px !important;
	}
	.option.active:before{
		width: 0px;
	}
	/*recomendado*/
	.recomendado{
		margin-left: 0px !important;
	}
	.caratula div img, mask{
		width: 7rem !important;
		height: 7rem !important;
	}
	.mask{
		width: 7rem !important;
		height: 7rem !important;
	}
	.mask i {
		margin-top: 0px !important;
	}
	.mask i , .mask h5{
		padding-top: 45px;
	}

	.e-linea{
		width: 30% !important;
		margin-left: 0px !important;
		margin-right: 0px !important;
	}

	.marcador{
		font-size: 18px;
		margin-left: 15px !important;
		font-weight: bold;
	}
	.marcador .fas{
		margin-right: 25px !important;
		text-align: center;
	}
	.paises{
		width: 65vw;
	}
	.primeros{
		width: 60vw !important;
	}
	.contiene-prim{
		padding-left: 0px !important;
	}
	.badge{
		width: 20px;
	}

}
