
<div class="contenedor active" id="contenedor">
    <!-- header -->
   <app-navbar-dashboard></app-navbar-dashboard>
    
    <nav class="menu-lateral" style="padding-right: 10px; background: #17002c;  box-shadow: inset 17px 17px 2px #10001f, inset -17px -17px 2px #1e0039;" >
        <app-sidebar-dashboard></app-sidebar-dashboard>
    </nav>

    <main class="main  position-relative" style=" background: #17002c;">
        <router-outlet> </router-outlet>
    </main>


</div>