

<main class="main2  position-relative pb-5" style=" background: #17002c;">

   
    <h3 class="titulo pl-5 "  style="padding-top: 85px;"> <i class="fas fa-music mr-3 p-2" style=" margin-left: 100px; background: #1a0033; box-shadow:  5px 5px 2px #10001f, -5px -5px 2px #240047; color: aqua; border-radius: 50px; font-size: 15px;"></i> TOP 5  </h3>

    <hr  style="color: #d3d3d3; margin-left: 100px;">
    <img src="../../../../assets/fondos/h7.svg" alt="" class="d-none d-sm-none d-md-block position-absolute w-100" style="top: 0px;">
    <img src="../../../../assets/fondos/h7.1.svg" alt="" class="d-block d-sm-block d-md-none position-absolute w-100" style="top: -1px; left: 0px;">
    

    <div class="ml-5 pl-5" style="width: 85vw;" >
        <table class="table table-borderless pl-5" style="color: seashell; width: 80vw;">
            <thead>
                <tr class=" align-items-center"> 
                    <th scope="col" style="width:90px !important;" >#</th>
                    <th scope="col" style="padding-left: 80px;" >Canciones</th>
                    <th scope="col" style="width:200px !important;" class="pl-4">Artistas</th>
                    <th scope="col" >Reproducciones</th>
                    <th scope="col" class="ml-5" ></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td class="d-flex"> <img src="../../../../assets/imagenes/tendencias/monAmour.svg" alt="" class="mr-3 d-none d-sm-none d-md-block "  style="border-radius: 50px;"> Mon Amour (Remix)</td>
                    <td>Zzoilo Ft. Aitana.</td>
                    <td style="width: 100px !important;" class="text-center"> 51.140.399</td>
                    <td class="pl-5"> 
                        <i class="fas fa-share-alt ml-4" href="" style="cursor: pointer;"></i>
                        <i class="fas fa-plus ml-4"  href="" style="cursor: pointer;"></i>
                        <i class="fas fa-download ml-4" href="" style="cursor: pointer;"></i>
                    </td>

                <tr>
                    <th scope="row">2</th>
                    <td class="d-flex" style="padding-right: 55px;"> <img src="../../../../assets/imagenes/tendencias/taconesRojos.svg"  class="mr-3 d-none d-sm-none d-md-block" alt="" style="border-radius: 50px;"> Tacones Rojos</td>
                    <td>Sebastián Yatra</td>
                    <td style="width: 100px !important;" class="text-center"> 31.961.196</td>
                    <td class="pl-5"> 
                        <i class="fas fa-share-alt ml-4" href="" style="cursor: pointer;"></i>
                        <i class="fas fa-plus ml-4"  href="" style="cursor: pointer;"></i>
                        <i class="fas fa-download ml-4" href="" style="cursor: pointer;"></i>
                    </td>
                </tr>

                <tr>
                    <th class="pt-4" scope="row">3</th>
                    <td class="d-flex pt-4" style="padding-right: 70px;"> <img src="../../../../assets/imagenes/tendencias/LoSientoBb.svg"  class="mr-3 d-none d-sm-none d-md-block" alt="" style="border-radius: 50px;"> Lo Sieto Bb</td>
                    <td > Tainy Ft. Bad Bunny & Julieta Venegas</td>
                    <td style="width: 100px !important;" class="text-center"> 23.541.712</td>
                    <td class="pl-5"> 
                        <i class="fas fa-share-alt ml-4" href="" style="cursor: pointer;"></i>
                        <i class="fas fa-plus ml-4"  href="" style="cursor: pointer;"></i>
                        <i class="fas fa-download ml-4" href="" style="cursor: pointer;"></i>
                    </td>
                </tr>

                <tr>
                    <th scope="row">4</th>
                    <td class="d-flex"> <img src="../../../../assets/imagenes/tendencias/monAmour.svg" alt="" class="mr-3 d-none d-sm-none d-md-block" style="border-radius: 50px;"> Mon Amour (Remix)</td>
                    <td>Zzoilo Ft. Aitana.</td>
                    <td style="width: 100px !important;" class="text-center"> 19.140.399</td>
                    <td class="pl-5"> 
                        <i class="fas fa-share-alt ml-4" href="" style="cursor: pointer;"></i>
                        <i class="fas fa-plus ml-4"  href="" style="cursor: pointer;"></i>
                        <i class="fas fa-download ml-4" href="" style="cursor: pointer;"></i>
                    </td>
                </tr>

                <tr>
                    <th scope="row">5</th>
                    <td class="d-flex"> <img src="../../../../assets/imagenes/tendencias/monAmour.svg" alt="" class="mr-3 d-none d-sm-none d-md-block" style="border-radius: 50px;"> Mon Amour (Remix)</td>
                    <td>Zzoilo Ft. Aitana.</td>
                    <td style="width: 100px !important;" class="text-center"> 15.140.399</td>
                    <td class="pl-5"> 
                        <i class="fas fa-share-alt ml-4" href="" style="cursor: pointer;"></i>
                        <i class="fas fa-plus ml-4"  href="" style="cursor: pointer;"></i>
                        <i class="fas fa-download ml-4" href="" style="cursor: pointer;"></i>
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>

    <h3 class="titulo pl-5 "  style="padding-top: 85px;"> <i class="fas fa-book  mr-3 p-2" style="  margin-left: 100px; background: #1a0033; box-shadow:  5px 5px 2px #10001f, -5px -5px 2px #240047; color: rgb(0, 255, 8); border-radius: 50px;  font-size: 15px;"></i>TOP 5  </h3>
    <hr     style="color: #d3d3d3; margin-left: 100px;">
    <div class="ml-5 pl-5" style="width: 85vw;" >
        <table class="table table-borderless pl-5" style="color: seashell; width: 80vw;">
            <thead>
                <tr class=" align-items-center"> 
                    <th scope="col" style="width:90px !important;" >#</th>
                    <th scope="col" style="padding-left: 80px;" >Libros</th>
                    <th scope="col" style="width:200px !important;" class="pl-4">Autor(a)</th>
                    <th scope="col" >Reproducciones</th>
                    <th scope="col" class="ml-5" ></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td class="d-flex"> <img src="../../../../assets/imagenes/tendencias/monAmour.svg" alt="" class="mr-3 d-none d-sm-none d-md-block "  style="border-radius: 50px;"> El Club de los Incomprendidos</td>
                    <td>Bestseller</td>
                    <td style="width: 100px !important;" class="text-center"> 120.369</td>
                    <td class="pl-5"> 
                        <i class="fas fa-share-alt ml-4" href="" style="cursor: pointer;"></i>
                        <i class="fas fa-plus ml-4"  href="" style="cursor: pointer;"></i>
                        <i class="fas fa-download ml-4" href="" style="cursor: pointer;"></i>
                    </td>

                <tr>
                    <th scope="row">2</th>
                    <td class="d-flex" style="padding-right: 55px;"> <img src="../../../../assets/imagenes/tendencias/taconesRojos.svg"  class="mr-3 d-none d-sm-none d-md-block" alt="" style="border-radius: 50px;"> Los chicos sí que lloran</td>
                    <td>Leah Konen</td>
                    <td style="width: 100px !important;" class="text-center"> 101.176</td>
                    <td class="pl-5"> 
                        <i class="fas fa-share-alt ml-4" href="" style="cursor: pointer;"></i>
                        <i class="fas fa-plus ml-4"  href="" style="cursor: pointer;"></i>
                        <i class="fas fa-download ml-4" href="" style="cursor: pointer;"></i>
                    </td>
                </tr>

                <tr>
                    <th class="pt-4" scope="row">3</th>
                    <td class="d-flex pt-4" style="padding-right: 70px;"> <img src="../../../../assets/imagenes/tendencias/LoSientoBb.svg"  class="mr-3 d-none d-sm-none d-md-block" alt="" style="border-radius: 50px;">1775 calles</td>
                    <td > José A. Gomez</td>
                    <td style="width: 100px !important;" class="text-center"> 91.712</td>
                    <td class="pl-5"> 
                        <i class="fas fa-share-alt ml-4" href="" style="cursor: pointer;"></i>
                        <i class="fas fa-plus ml-4"  href="" style="cursor: pointer;"></i>
                        <i class="fas fa-download ml-4" href="" style="cursor: pointer;"></i>
                    </td>
                </tr>

                <tr>
                    <th scope="row">4</th>
                    <td class="d-flex"> <img src="../../../../assets/imagenes/tendencias/monAmour.svg" alt="" class="mr-3 d-none d-sm-none d-md-block" style="border-radius: 50px;"> Mujercitas</td>
                    <td>Louisa May Alcott</td>
                    <td style="width: 100px !important;" class="text-center"> 80.399</td>
                    <td class="pl-5"> 
                        <i class="fas fa-share-alt ml-4" href="" style="cursor: pointer;"></i>
                        <i class="fas fa-plus ml-4"  href="" style="cursor: pointer;"></i>
                        <i class="fas fa-download ml-4" href="" style="cursor: pointer;"></i>
                    </td>
                </tr>

                <tr>
                    <th scope="row">5</th>
                    <td class="d-flex"> <img src="../../../../assets/imagenes/tendencias/monAmour.svg" alt="" class="mr-3 d-none d-sm-none d-md-block" style="border-radius: 50px;"> Amigo Imaginario</td>
                    <td>Stephen Chobosky</td>
                    <td style="width: 100px !important;" class="text-center"> 60.109</td>
                    <td class="pl-5"> 
                        <i class="fas fa-share-alt ml-4" href="" style="cursor: pointer;"></i>
                        <i class="fas fa-plus ml-4"  href="" style="cursor: pointer;"></i>
                        <i class="fas fa-download ml-4" href="" style="cursor: pointer;"></i>
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>

    <h3 class="titulo pl-5 "  style="padding-top: 85px;"> <i class="fas fa-grin-squint-tears  mr-3 p-2" style=" margin-left: 100px; background: #1a0033; box-shadow:  5px 5px 2px #10001f, -5px -5px 2px #240047; color: rgb(243, 255, 22); border-radius: 50px; font-size: 15px;"></i>  TOP 5  </h3>
    <hr  style="color: #d3d3d3; margin-left: 100px;">
    <div class="ml-5 pl-5" style="width: 85vw;" >
        <table class="table table-borderless pl-5" style="color: seashell; width: 80vw;">
            <thead>
                <tr class=" align-items-center"> 
                    <th scope="col" style="width:90px !important;" >#</th>
                    <th scope="col" style="padding-left: 80px;" >Monólogo</th>
                    <th scope="col" style="width:200px !important;" class="pl-4">Comediante</th>
                    <th scope="col" >Reproducciones</th>
                    <th scope="col" class="ml-5" ></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td class="d-flex"> <img src="../../../../assets/imagenes/tendencias/monAmour.svg" alt="" class="mr-3 d-none d-sm-none d-md-block "  style="border-radius: 50px;">La gran final</td>
                    <td>Franco escamilla</td>
                    <td style="width: 100px !important;" class="text-center"> 61.140.399</td>
                    <td class="pl-5"> 
                        <i class="fas fa-share-alt ml-4" href="" style="cursor: pointer;"></i>
                        <i class="fas fa-plus ml-4"  href="" style="cursor: pointer;"></i>
                        <i class="fas fa-download ml-4" href="" style="cursor: pointer;"></i>
                    </td>

                <tr>
                    <th scope="row">2</th>
                    <td class="d-flex" style="padding-right: 55px;"> <img src="../../../../assets/imagenes/tendencias/taconesRojos.svg"  class="mr-3 d-none d-sm-none d-md-block" alt="" style="border-radius: 50px;"> Falso Profeta</td>
                    <td>Carlos Ballarta</td>
                    <td style="width: 100px !important;" class="text-center"> 41.961.196</td>
                    <td class="pl-5"> 
                        <i class="fas fa-share-alt ml-4" href="" style="cursor: pointer;"></i>
                        <i class="fas fa-plus ml-4"  href="" style="cursor: pointer;"></i>
                        <i class="fas fa-download ml-4" href="" style="cursor: pointer;"></i>
                    </td>
                </tr>

                <tr>
                    <th class="pt-4" scope="row">3</th>
                    <td class="d-flex pt-4" style="padding-right: 70px;"> <img src="../../../../assets/imagenes/tendencias/LoSientoBb.svg"  class="mr-3 d-none d-sm-none d-md-block" alt="" style="border-radius: 50px;"> Nada es igual</td>
                    <td > Lokillo Durán</td>
                    <td style="width: 100px !important;" class="text-center"> 23.541.712</td>
                    <td class="pl-5"> 
                        <i class="fas fa-share-alt ml-4" href="" style="cursor: pointer;"></i>
                        <i class="fas fa-plus ml-4"  href="" style="cursor: pointer;"></i>
                        <i class="fas fa-download ml-4" href="" style="cursor: pointer;"></i>
                    </td>
                </tr>

                <tr>
                    <th scope="row">4</th>
                    <td class="d-flex"> <img src="../../../../assets/imagenes/tendencias/monAmour.svg" alt="" class="mr-3 d-none d-sm-none d-md-block" style="border-radius: 50px;">Seleccion Natural</td>
                    <td>Sofía N. de Rivera</td>
                    <td style="width: 100px !important;" class="text-center"> 19.140.399</td>
                    <td class="pl-5"> 
                        <i class="fas fa-share-alt ml-4" href="" style="cursor: pointer;"></i>
                        <i class="fas fa-plus ml-4"  href="" style="cursor: pointer;"></i>
                        <i class="fas fa-download ml-4" href="" style="cursor: pointer;"></i>
                    </td>
                </tr>

                <tr>
                    <th scope="row">5</th>
                    <td class="d-flex"> <img src="../../../../assets/imagenes/tendencias/monAmour.svg" alt="" class="mr-3 d-none d-sm-none d-md-block" style="border-radius: 50px;"> Hay gente así</td>
                    <td>Ricardo Quevedo</td>
                    <td style="width: 100px !important;" class="text-center"> 15.140.399</td>
                    <td class="pl-5"> 
                        <i class="fas fa-share-alt ml-4" href="" style="cursor: pointer;"></i>
                        <i class="fas fa-plus ml-4"  href="" style="cursor: pointer;"></i>
                        <i class="fas fa-download ml-4" href="" style="cursor: pointer;"></i>
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>

</main>
