<div id= "preferences" [routerLinkActive]="'active'" class="option     d-flex align-items-center position-relative" routerLink = "/dashboard/discover/preferences"><i class="fas  fa-search-plus" ></i><a style="cursor: pointer;" id="uno" >Descubre</a></div>
<div id= "recommended" [routerLinkActive]="'active'" class="option   d-flex align-items-center position-relative" routerLink = "/dashboard/discover/recommended"><i class="fas fa-star" ></i><a style="cursor: pointer;" id="dos" >Recomendado</a></div>
<div id= "trends" [routerLinkActive]="'active'" class="option   d-flex align-items-center position-relative" routerLink = "/dashboard/discover/trend"><i class="fas fa-fire"  ></i> <a style="cursor: pointer;" id="tres">Tendencias</a></div>
<div id= "new_S" [routerLinkActive]="'active'" class="option  d-flex align-items-center position-relative" routerLink = "/dashboard/discover/newSounds" ><i class="fas fa-music" ></i><a style="cursor: pointer;" id="cuatro" >Nuevos</a></div>
<div id= "album" [routerLinkActive]="'active'" class="option  d-flex align-items-center position-relative" routerLink = "/dashboard/discover/albums"><i class="fas fa-folder" ></i><a style="cursor: pointer;" id="cinco" >Albums</a></div>
<div id= "artists" [routerLinkActive]="'active'" class="option  d-flex align-items-center position-relative" routerLink = "/dashboard/discover/artists"><i class="fas fa-microphone-alt" ></i><a style="cursor: pointer;" id="seis" >Artistas</a></div>
<div id= "books" [routerLinkActive]="'active'" class="option   d-flex align-items-center position-relative" routerLink = "/dashboard/discover/books"><i class="fas fa-book"></i><a style="cursor: pointer;" id="siete" >Libros</a></div>
<hr>
<div class="option d-flex align-items-center position-relative"><i class="fas fa-history"></i><a id="ocho" href="#"> Recientes</a></div>
<div class="option d-flex align-items-center position-relative"><i class="fas fa-heart"></i> <a id="nueve" href="#">Favoritos</a></div>
<div class="option d-flex align-items-center position-relative"><i class="fas fa-headphones-alt"></i><a id="diez" href="#"> PlayList</a></div>
<hr>
<div class="w-100 pl-1">
    <p  style="color: aquamarine; font-size: 20px;"> <i class="fas fa-plug  fa-1x"></i>En linea</p>
    <div class="d-flex align-items-center py-3">
        <div class=" e-linea position-relative w-25 mr-3" >
            <i class="fas fa-user-circle fa-2x rounded-circle pl-1" style="color:  #77e3fba3; padding-left: 7px !important;"></i> 
            <span class="position-absolute  translate-middle p-1 bg-success border border-success rounded-circle"></span>
        </div>
        <div class="nombre d-none d-sm-block w-auto " style="color: azure;"> Nombre Apelllido</div>
    </div>
    <div class="d-flex align-items-center py-3">
        <div class=" e-linea position-relative w-25 mr-3" >
            <i class="fas fa-user-circle fa-2x rounded-circle pl-1" style="color:  #77e3fba3; padding-left: 7px !important;"></i> 
            <span class="position-absolute  translate-middle p-1 bg-success border border-success rounded-circle"></span>
        </div>
        <div class="nombre d-none d-sm-block w-auto " style="color: azure;"> Nombre Apelllido</div>
    </div>
    <div class="d-flex align-items-center py-3">
        <div class=" e-linea position-relative w-25 mr-3" >
            <i class="fas fa-user-circle fa-2x rounded-circle pl-1" style="color:  #77e3fba3; padding-left: 7px !important;"></i> 
            <span class="position-absolute  translate-middle p-1 bg-success border border-success rounded-circle"></span>
        </div>
        <div class="nombre d-none d-sm-block w-auto " style="color: azure;"> Nombre Apelllido</div>
    </div>
    <div class="d-flex align-items-center py-3">
        <div class=" e-linea position-relative w-25 mr-3" >
            <i class="fas fa-user-circle fa-2x rounded-circle pl-1" style="color:  #77e3fba3; padding-left: 7px !important;"></i> 
            <span class="position-absolute  translate-middle p-1 bg-success border border-success rounded-circle"></span>
        </div>
        <div class="nombre d-none d-sm-block w-auto " style="color: azure;"> Nombre Apelllido</div>
    </div>
    <div class="d-flex align-items-center py-3">
        <div class=" e-linea position-relative w-25 mr-3" >
            <i class="fas fa-user-circle fa-2x rounded-circle pl-1" style="color:  #77e3fba3; padding-left: 7px !important;"></i> 
            <span class="position-absolute  translate-middle p-1 bg-success border border-success rounded-circle"></span>
        </div>
        <div class="nombre d-none d-sm-block w-auto " style="color: azure;"> Nombre Apelllido</div>
    </div>
   
</div>