<nav class="navbar navbar-dark d-flex flex-row-reverse position-relative p-0 ">
    <div  class=" w-100" >
    <!--Boton-->
        <div class="boton bg-transparent fixed-top d-flex justify-content-end position-fixed" > 
            <button class="navbar-toggler  " type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation" >
            <span class="cancelar navbar-toggler-icon align-items-start" id="menu" style="font-size: 40px; color: #CFF4D2;" ></span>
            </button>
            <div id="navbarToggleExternalContent" class="collapse position-absolute w-100" >
              <div class="menu w-100 text-center flex-column d-flex align-items-center justify-content-evenly" style ="z-index: 1030 ;">
                <button class="navbar-toggler  " type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation" >
                  <i class=" cancelar fas fa-times" style="font-size: 60px; color: #CFF4D2;"></i>
                </button>
                <a class="nav-link" href="#">Lo más escuchado</a>
                <a class="nav-link" href="#">Crear nuevo albúm</a>
                <a class="nav-link" href="#">Identificar</a>
                <a class="nav-link" href="#">Contribuir</a>
            </div> 
          </div>
          </div>
    <!--Menu-->
          
    </div> 
    <!--Redes sociales-->
    <div class="iconos fixed-bottom   align-items-end  flex-column ml-3 " style=" width: 25px; height: 50%; top: 300px; " >
        <a href="" style="color:#CFF4D2; font-size: 30px; background: #1b1635a2; border-radius: 30px;"><i class=" fab fa-facebook my-4 px-3 py-4"></i> </a>
        <a href="" style="color:#CFF4D2; font-size: 30px; background: #1b1635a2; border-radius: 30px;"><i class=" fab fa-instagram mb-4 px-3 py-4"></i> </a>
        <a href="" style="color:#CFF4D2; font-size: 30px; background: #1b1635a2; border-radius: 30px;"><i class=" fab fa-youtube mb-4 px-3 py-4"></i> </a>
    </div>
</nav>