*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.body{
    background: #360033;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,#360033e3, #0b8793e3 ), url(../../../../assets/fondos/2.jpg);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,#360033e3, #0b8793e3 ), url(../../../../assets/fondos/2.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-bottom: 85px;
    overflow-x: hidden;
}

.btn-primary{
    background:linear-gradient(to right, #360033e3, #3b145e)  !important;
    border-color: transparent !important;
    border-radius: 100px !important;
}

.form-control{
    width: 75% !important;
    border-radius: 50px !important;
    
}
.form-outline{
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
}
.iniciar{
    width: 100% !important;
    display: flex !important;
    
}
