<main class="main pl-0 position-relative pb-5  py-3 flex-column d-flex  align-items-center"  style=" background: #17002c;">
    <h3 class="titulo text-center  text-uppercase " style="padding-top: 75px;">Álbums preferidos </h3>
    <img src="../../../../assets/fondos/h11.svg" alt="" class="d-none d-sm-none d-md-block position-absolute w-100" style="top: 0px;">
    <img src="../../../../assets/fondos/h8.1.svg" alt="" class="d-block d-sm-block d-md-none position-absolute w-100" style="top: -3px; left: 0px;"> 

    <div class="mx-auto" style="width: 80vw;">
        <div class="row mx-auto">
            <div class="col-lg-4 d-flex align-items-center flex-column py-3 mb-3 w-100" >+
                <div class="mb-4 d-flex justify-content-center p-5 " style=" width: 70%;  border-radius: 50px; background: #17002c;box-shadow: inset 17px 17px 9px #10001f, inset -17px -17px 9px #1e0039;">
                    <img  class=" rounded-circle w-100"  src="../../../../assets/imagenes/caratulas/a1.svg" alt="">
                </div>
                <h2 class="text-primary" >It's Gonna Be Ok</h2>
                <p style="color: azure; font-size: 20px;" >BANNERS</p>
                <p style="color: #ebffff; cursor: pointer;">Reproducir completo <i class="far fa-file-audio pl-2"></i> </p>
            </div>

            <div class="col-lg-4 d-flex align-items-center flex-column py-5 mb-3" >
                <div class="mb-4 d-flex justify-content-center p-5 " style=" width: 70%;  border-radius: 50px; background: #17002c;box-shadow: inset 17px 17px 9px #10001f, inset -17px -17px 9px #1e0039;">
                    <img  class="rounded-circle w-100" style=" box-shadow: 0 0 40px 0 #05225f" src="../../../../assets/imagenes/caratulas/a2.svg" alt="">
                </div>
                
                <h2 class = "text-info" >Future Nostalgia</h2>
                <p style="color: azure; font-size: 20px;" >DUA LIPA</p>
                <p style="color: #ebffff; cursor: pointer;">Reproducir completo <i class="far fa-file-audio pl-2"></i> </p>
            </div>

            <div class="col-lg-4 d-flex align-items-center flex-column py-5 mb-3" >
                <div class="mb-4 d-flex justify-content-center p-5 " style=" width: 70%;  border-radius: 50px; background: #17002c;box-shadow: inset 17px 17px 9px #10001f, inset -17px -17px 9px #1e0039;">
                    <img  class="rounded-circle w-100" style=" box-shadow: 0 0 40px 0 #05225f" src="../../../../assets/imagenes/caratulas/a3.svg" alt="">
                </div>
                
                <h2 class = "text-danger" >Manic</h2>
                <p style="color: azure; font-size: 20px;" >HALSEY</p>
                <p style="color: #ebffff; cursor: pointer;">Reproducir completo <i class="far fa-file-audio pl-2"></i> </p>
            </div>

            <div class="col-lg-4 d-flex align-items-center flex-column py-5 mb-3" >
                <div class="mb-4 d-flex justify-content-center p-5 " style=" width: 70%;  border-radius: 50px; background: #17002c;box-shadow: inset 17px 17px 9px #10001f, inset -17px -17px 9px #1e0039;">
                    <img  class="rounded-circle w-100" style=" box-shadow: 0 0 40px 0 #05225f" src="../../../../assets/imagenes/caratulas/a4.svg" alt="">
                </div>
                
                <h2 class = "text-warning" >YHLQMDLG</h2>
                <p style="color: azure; font-size: 20px;" >BAD BUNNY</p>
                <p style="color: #ebffff; cursor: pointer;">Reproducir completo <i class="far fa-file-audio pl-2"></i> </p>
            </div>

            <div class="col-lg-4 d-flex align-items-center flex-column py-5 mb-3" >
                <div class="mb-4 d-flex justify-content-center p-5 " style=" width: 70%;  border-radius: 50px; background: #17002c;box-shadow: inset 17px 17px 9px #10001f, inset -17px -17px 9px #1e0039;">
                    <img  class="rounded-circle w-100" style=" box-shadow: 0 0 40px 0 #05225f" src="../../../../assets/imagenes/caratulas/a5.svg" alt="">
                </div>
                
                <h2 class = "text-primary" >Love Goes</h2>
                <p style="color: azure; font-size: 20px;" >SAM SMITH</p>
                <p style="color: #ebffff; cursor: pointer;">Reproducir completo <i class="far fa-file-audio pl-2"></i> </p>
            </div>

            <div class="col-lg-4 d-flex align-items-center flex-column py-5 mb-3" >
                <div class="mb-4 d-flex justify-content-center p-5 " style=" width: 70%;  border-radius: 50px; background: #17002c;box-shadow: inset 17px 17px 9px #10001f, inset -17px -17px 9px #1e0039;">
                    <img  class="rounded-circle w-100" style=" box-shadow: 0 0 40px 0 #05225f" src="../../../../assets/imagenes/caratulas/a6.svg" alt="">
                </div>
                
                <h2 class = "text-info" >Sour</h2>
                <p style="color: azure; font-size: 20px;" >OLIVIA RODRIGO</p>
                <p style="color: #ebffff; cursor: pointer;">Reproducir completo <i class="far fa-file-audio pl-2"></i> </p>
            </div>

            <div class="col-lg-4 d-flex align-items-center flex-column py-5 mb-3" >
                <div class="mb-4 d-flex justify-content-center p-5 " style=" width: 70%;  border-radius: 50px; background: #17002c;box-shadow: inset 17px 17px 9px #10001f, inset -17px -17px 9px #1e0039;">
                    <img  class="rounded-circle w-100" style=" box-shadow: 0 0 40px 0 #05225f" src="../../../../assets/imagenes/caratulas/a7.svg" alt="">
                </div>
                
                <h2 class = "text-danger" >Mercury Act I</h2>
                <p style="color: azure; font-size: 20px;" >IMAGINE DRAGONS</p>
                <p style="color: #ebffff; cursor: pointer;">Reproducir completo <i class="far fa-file-audio pl-2"></i> </p>
            </div>

            <div class="col-lg-4 d-flex align-items-center flex-column py-5 mb-3" >
                <div class="mb-4 d-flex justify-content-center p-5 " style=" width: 70%;  border-radius: 50px; background: #17002c;box-shadow: inset 17px 17px 9px #10001f, inset -17px -17px 9px #1e0039;">
                    <img  class="rounded-circle w-100" style=" box-shadow: 0 0 40px 0 #05225f" src="../../../../assets/imagenes/caratulas/a8.svg" alt="">
                </div>
                
                <h2 class = "text-warning" >Hsppier Tha Ever</h2>
                <p style="color: azure; font-size: 20px;" >BILIE EILISH</p>
                <p style="color: #ebffff; cursor: pointer;">Reproducir completo <i class="far fa-file-audio pl-2"></i> </p>
            </div>

            <div class="col-lg-4 d-flex align-items-center flex-column py-5 mb-3" >
                <div class="mb-4 d-flex justify-content-center p-5 " style=" width: 70%;  border-radius: 50px; background: #17002c;box-shadow: inset 17px 17px 9px #10001f, inset -17px -17px 9px #1e0039;">
                    <img  class="rounded-circle w-100" style=" box-shadow: 0 0 40px 0 #05225f" src="../../../../assets/imagenes/caratulas/a9.svg" alt="">
                </div>
                
                <h2 class = "text-primary" >30</h2>
                <p style="color: azure; font-size: 20px;" >ADELE</p>
                <p style="color: #ebffff; cursor: pointer;">Reproducir completo <i class="far fa-file-audio pl-2"></i> </p>
            </div>
        </div>

            
          
    </div>
    <small class="d-block text-end mt-3">
        <a style="color: #d6d8e0; font-size: medium;" href="#">Ver Todo</a>
    </small>

</main>
