*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #360033;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,#360033e3, #0b8793e3 ), url(../fondos/2.jpg);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,#360033e3, #0b8793e3 ), url(../fondos/2.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow-x: hidden;
}

.btn-primary{
    background: #360033d5 !important;
    border-color: #360033 !important;
}