* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html, body{
	overflow-x: hidden;
}
::-webkit-scrollbar {display: none;} 

a {
	text-decoration: none;
	color:#fff;
}

.contenedor {
	width: 100vw;
	min-height: 100vh;
	margin: 0 auto;
	display: grid;
	grid-template-columns: minmax(90px, 90px) auto;
	grid-template-rows: 60px auto;
	grid-template-areas: "header header"
						 "menu contenido";
	transition: all .3s ease;
}

.contenedor.active {
	grid-template-columns: minmax(250px, 5%) auto;
}

/* ---- ---- ---- HEADER ---- ---- ---- */
.header {
	grid-area: header;
	padding: 0 20px;
	display: grid;
	grid-template-columns: auto 1fr auto;
	align-items: center;
	justify-content: space-between;
	grid-gap: 10px;
	grid-template-areas: "logo busqueda iconos";
}

.header .contenedor-logo {
	grid-area: logo;
	display: flex;
	align-items: center;

}

.header .contenedor-logo .boton-menu {
	border: none;
	padding: 10px;
	background: none;
	cursor: pointer;
	font-size: 18px;
	border-radius: 100px;
	width: 50px;
	height: 50px;
	margin-right: 20px;
	color: #fff;
}

.header .contenedor-logo .boton-menu:hover {
	background: #7de4b9;
}

.header .contenedor-logo .logo {
	font-family: 'Righteous', cursive;
	font-size: 30px;
	position: relative;
	top: 2px;
	color: #fff;
}

.header .barra-busqueda {
	grid-area: busqueda;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header .barra-busqueda input {
	min-width: 60%;
	padding: 0 15px;
	height: 35px;
	line-height: 35px;
	font-size: 16px;
}
.header .barra-busqueda input:focus-visible{
    border-style: none;
}
.header .barra-busqueda button {
	height: 35px;
	border: 1px solid #7de4b9;
	border-left: none;
	color:#22337e;
	background: #7de4b9;
	padding: 0 25px;
	cursor: pointer;
}
.dropdown-toggle::after{
	content: none;
}
.dropdown-menu hr{
	margin: 5px;
	border-top: none;
}
.dropdown-menu{
	background: #191d30;
	color: #92ff52;
}
.header .barra-busqueda button:hover {
	color:#22337e ;
	background: #f0f0f0;
	border-color:#f0f0f0 ;
}
.dropdown-item{
	color: #7be7bc;
}
.dropdown-item:hover, .dropdown-item:focus{
	background: linear-gradient(120deg,#5fc1f1c9  0%,#97f1b8e7  100%);
}
.header .botones-header {
	grid-area: iconos;
}

.header .botones-header button {
	background: none;
	border: none;
	width: 40px;
	height: 40px;
	font-size: 18px;
	padding: 7px 12px;
	border-radius: 100px;
	color: #7de4b9;
	margin-right: 20px;
	cursor: pointer;
}

.header .botones-header button:hover {
	background: #f0f0f0;
	color: #22337e;
}

/* ---- ---- ---- Menu Lateral ---- ---- ---- */

.menu-lateral {
	grid-area: menu;
	overflow: hidden;
}

.menu-lateral a {
	text-decoration: none;
	display: block;
	padding: 15px 35px;
	color: #79dacd;
	min-width: 800px;
}

.menu-lateral a:hover {
	background: linear-gradient(120deg,#5fc1f1c9  0%,#97f1b8e7  100%);
	color: #22337e;
}

.menu-lateral a.active {
	background: linear-gradient(120deg,#5fc1f1c9  0%,#97f1b8e7  100%);
	font-weight: bold;
	color: #22337e;
}

.menu-lateral .fas {
	color: #7de4b9;
	margin-right: 35px;
	width: 20px;

}

.menu-lateral a.active .fas {
	color: #22337e;
}

.menu-lateral hr {
	margin: 20px 0;
	border: 1px solid #dfdfdf;
}

/* ---- ---- ---- Contenido Principal ---- ---- ---- */
.main {
	grid-area: contenido;
	padding: 40px;
}

.main .titulo {
	margin-bottom: 20px;
	font-family: 'Righteous', cursive;
	color: #22337e;
}

.main .cuerpo-audio {
	display: grid;
	grid-gap: 40px 20px;
	grid-template-columns: repeat(4, 1fr);
}
.main .cuerpo-audio-2 {
	width: 75vw;
	display: grid;
	grid-gap: 40px 20px;
	grid-template-columns: repeat(4, 1fr);
}

.main .cuerpo-audio .caratula {
	width: 100%;
	display: block;
}
.main .cuerpo-audio-2 .caratula {
	width: 100%;
	display: block;
}
.main .cuerpo-audio .caratula img {
	width: 100%;
}
.main .cuerpo-audio-2 .caratula img {
	width: 100%;
}
.seleccion{
	position: relative;
	padding: 15px 30px;
	display: inline-block;
	letter-spacing: 4px;
	color: #082369;
	font-weight: 500;
	font-size: 24px;
	text-decoration: none;
	overflow: hidden;
	transition: 0.2s;
	border-radius: 100px;
	background: #caf3ff6b;
	align-items: center;
	cursor: pointer;
	width: 100%;
}

.seleccion:hover{
	background: #a945c7;
	box-shadow: 0px 0px 10px #a945c7, 0px 0px 40px #a945c7, 0px 0px 80px #a945c7;
	color: #fff;
}
.seleccion ::before{
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
[type="checkbox"]{
	display: none;
}
[type="checkbox"]:checked + .seleccion{
	background: #a945c7;
	box-shadow: 0px 0px 10px #a945c7, 0px 0px 40px #a945c7, 0px 0px 80px #a945c7;
	color: #fff;
}
.bttn-stretch{
	border:none;
	background: none;	
}
 .bttn-fill:hover, .bttn-fill::before, .bttn-fill:focus{
	background: #3cabc9;
	font-weight: 600;
	color:#0a2236 !important;
	border-radius: 15px 0px 15px 15px !important;
 }

	

.mask{
	position: absolute;
	width: 100%;
	height: 17rem;
	top: 16px;
	border-radius: 170px;
	transform: scale(1);
	background: linear-gradient(to right, #e9a1ff68, #4389a27b);
	transition: transform .5s;
	
}
.mask:hover{
	box-shadow: 0px 0px 10px #457fc7, 0px 0px 20px #457fc7, 0px 0px 40px #457fc7;
}
.mask h5{
	font-size: 1.2em;
	font-weight: 500;
	color: #09041e;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.mask p{
	font-weight: 400;
	font-size: 1em;
	opacity: 0.8;
	color: #000000;
}
.mask:active{
	transform: scale(0);
}

.carousel-control-next, .carousel-control-prev{
	opacity: .9 !important;
	
}
.carousel-control-next i:hover, .carousel-control-prev i:hover{
	color: #1500ff !important;
	opacity: 1 !important;
}
.carousel-indicators button{
	background-color: #4c109b !important;
	height: 6px !important;
	border: 1.5px solid #8a3af3 !important;
	border-radius: 20px;
	box-shadow: 0px 0px 10px #a652f5a3, 0px 0px 20px #a652f5a3, 0px 0px 30px #a652f5a3 !important;
}
.carousel-indicators button.active{
	background-color: #9a02ff !important;
}
strong{
	color:#fff ;
}
em{
	color:#79dacd ;
}
.contiene-prim li> i{
	cursor: pointer;
}
.contiene-prim li> i:hover{
	font-size: 13px;
}
/* tendencias */
.paises{
	display: flex;
	flex-direction: column;
	width: 65vw;
}
.bg-success{
	background-color: #6610f2 !important;
}
.bg-danger{
	background-color: #fd7e14 !important;
}
.bg-otro{
	background-color: #d63384;
}
.progress, .progress-bar{
	height: 10px !important;
}
/* albums */
.rounded-circle,.fab {
	cursor: pointer;
}
.rounded-circle:hover {
	box-shadow: 0px 0px 80px 0px #8d13bd !important;
	width: 300px;
}
/* nuevo */
.col-3 >.fas:hover{
	cursor: pointer;
	color: rgba(255, 0, 0, 0.575);
}

/* ---- ---- ---- Mediaqueries ---- ---- ---- */
@media screen and (max-width: 1300px) {
	.main .cuerpo-audio {
		grid-template-columns: repeat(3, 1fr);
	}

	.header .contenedor-logo .logo span {
		display: none;
	}

	.header .barra-busqueda input {
		min-width: 70%;
	}

}

@media screen and (max-width: 992px) {
	.main .cuerpo-audio {
		grid-template-columns: repeat(2, 1fr);
	}
	.carousel{
		width: 80vw !important;
	}

}

@media screen and (max-width: 768px) {
	.contenedor {
		grid-template-rows: auto;
	}

	.header {
		padding: 20px;
		grid-template-columns: auto auto;
		justify-content: space-between;
		grid-template-areas: "logo iconos"
							 "busqueda busqueda";
	}

	.header .contenedor-logo .logo span {
		display: inline;
	}

	.header .barra-busqueda input {
		min-width: auto;
		width: 100%;
	}
}

@media screen and (max-width: 576px) {
	.tit-R{
		font-size: 30px !important;
	}
	.header .contenedor-logo{
		width: 45vw;
	}
	.header .botones-header button {
		font-size: 15px;
		margin: 0px;
		padding-left: 5px;
		padding-right: 5px;
	}
	.main .cuerpo-audio {
		grid-template-columns: 80px;
		padding-top: 10px !important;
		grid-gap: 20px 5px;
		width: 65vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.main .cuerpo-audio-2 {

		grid-template-columns: repeat(2,120px);
		padding-top: 0 !important;
		padding-bottom: 0px !important;
		grid-gap: 20px 5px;
		margin: 0px!important;
		flex-direction: column;
	}
	.main{
		padding-left: 15px;
		padding-right: 20px;
		width: 78vw;
	}
	.main .cuerpo-audio div{
		width: 100%;
		padding: 2px;
	}
	.main .cuerpo-audio-2 div{
		width: 100%;
		padding: 2px;
	}
	.seleccion{
		font-size: 15px;
	}
	.enviar-1{
		padding-top: 0px !important;
		width: 60vw;
	}

	.carousel-item img{
		width: 30%;
		height: 100%;
	}

	.carousel-caption h5{
		font-size: 20px;
		text-transform: capitalize;	
		width: 75% !important;	
	}
	.cont-car{
		width: 67vw !important;
		padding-top: 25px !important ;
	}
	.carousel{
		width: 70vw !important;
	}
	.caratula div img, mask{
		width: 7rem !important;
		height: 7rem !important;
	}
	.mask{
		width: 7rem !important;
		height: 7rem !important;
	}

	.mask .fas{
		padding-top: 10px;
		font-size: 15px;	
	}
	.carousel-indicators{
		top: 110px !important;
		width: 40vw !important;
		margin-left: 50px;
	}
	.e-linea{
		width: 80% !important;
	}
	.marcador{
		font-size: 18px;
		margin-left: 15px !important;
		font-weight: bold;
	}
	.marcador .fas{
		margin-right: 25px !important;
		text-align: center;
	}
	.paises{
		width: 65vw;
	}
	.primeros{
		width: 60vw !important;
	}
	.contiene-prim{
		padding-left: 0px !important;
	}
	.badge{
		width: 20px;
	}

}
