<div id="fondo" class="header contenedor " style="background-image: url(../assets/fondos/h1.svg); background-position: 10px;">
    <!-- nombre -->
    <div class="contenedor-logo">
        <button id="boton-menu" class="boton-menu"><i class="fas fa-bars"></i></button>
        <a routerLink="/" class="logo d-flex " style="text-decoration: none;"><span>Halcyon</span></a>
    </div>
    <!-- buscar -->
    <div class="barra-busqueda buscador">
        <input class=" mr-4" type="text" placeholder="Encuentra tus audios favoritos" style="border-radius: 50px;">
        <button  type="submit" style="border-radius: 100%; width: 40px;" class="d-flex align-items-center justify-content-center p-0"><i class="fas fa-search"></i></button>
    </div>
    <!-- botones de derecha -->
    <div class="botones-header d-flex align-items-center">
        <button><i class="fas fa-upload"></i></button>
        <button><i class="fas fa-th"></i></button>
        <button><i class="fas fa-bell"></i></button>
        <!--usuario -->
        <li class="nav-item dropdown" style="list-style:none;  ">
            <button  class=" dropdown-toggle" href="#" id="navbarScrollingDropdown"  data-bs-toggle="dropdown" aria-expanded="false" ><i class="fas fa-user"></i></button>
            <ul class=" dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item text-center" href="#"  style="color: azure;">Nombre</a></li><hr>
            <li><a class="dropdown-item" href="#"  style="color: azure;"><i class="fas fa-microphone-alt" style="padding-right: 10px; color: azure;"></i>Conviertete en Artista</a></li> <hr>
            <li><a class="dropdown-item pl-5" href="#" style="color: azure;">Mis canciones</a></li>
            <li><a class="dropdown-item pl-5" href="#" style="color: azure;">Mis álbumes</a></li>
            <li><a class="dropdown-item pl-5" href="#" style="color: azure;">Mis libros </a></li> <hr>
            <li><a class="dropdown-item" href="#" style="color: azure;"><i class="fas fa-cog " style="padding-right: 10px; color: azure;"></i>Configuraciones</a></li><hr>
            <li><a class="dropdown-item" href="#" style="color: azure;"><i class="fas fa-sign-out-alt" style="padding-right: 10px; color: azure;"></i>Cerrar Sesión</a></li>
            </ul>
        </li>
    </div>
</div>
