<main class="main pl-0 position-relative pb-5  flex-column d-flex  align-items-center ="  style=" background: #17002c;">
    <h3 class="titulo text-center  text-uppercase" style="padding-top: 75px;">Estrenos del Año </h3>
    <img src="../../../../assets/fondos/h15.svg" alt="" class="d-none d-sm-none d-md-block position-absolute w-100" style="top: 0px;">
    <img src="../../../../assets/fondos/h8.1.svg" alt="" class="d-block d-sm-block d-md-none position-absolute w-100" style="top: -3px; left: 0px;">

    <div class="row mb-2" style=" width: 85vw;">
        <div class="col-md-6" style="margin-left: 22px !important ; margin-right: 5px !important; width: 495px  !important;" > 
            <div class=" align-items-center  ml-5 mt-5" style=" border-radius: 40px; background: #17002c;	box-shadow: inset 17px 17px 9px #10001f, inset -17px -17px 9px #1e0039; width: 85%;">
                <div class="row pl-4 g-0 justify-content-center  mb-4 shadow-sm h-md-250 position-relative" >
                    <div class="  pt-4 col-auto d-none d-lg-block w-50">
                        <img class="w-100 h-100 pb-3" src="../../../../assets/imagenes/libros/1775.jpg" alt="" style="border-radius:40px 0px 0px 40px ;">			  
                    </div>
                    <div class="col p-4 d-flex flex-column position-static pb-5 mb-1">
                        <h3 class="mb-0 text-danger" >1775 Calles </h3>
                        <strong class="d-inline-block mt-3 mb-2 " style="color: seashell;">José A. Gonzales</strong>							  
                          <p class="card-text mb-auto mr-5 pb-5 " style="color: seashell;">La poesía es una gran desconocida para muchos adolescentes y, sin embargo, es un género que puede ayudarnos a identificar y expresar cómo nos sentimos</p>
                        <i class="fas fa-play fa-2x position-absolute " style="color: seashell; right:60px; bottom: 28px; cursor: pointer;"></i>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-6" style="margin-left: -34px !important ; width: 495px  !important;">
            <div class="align-items-center mt-5 pl-4" style=" border-radius: 40px; background: #17002c;	box-shadow: inset 17px 17px 9px #10001f, inset -17px -17px 9px #1e0039; width: 85%;">
                <div class="row  g-0 justify-content-center  mb-4 shadow-sm h-md-250 position-relative" style="height: 100%;">
                    <div class="  pt-4 col-auto d-none d-lg-block w-50">
                        <img class="w-100 pb-3 pl-0" src="../../../../assets/imagenes/libros/mujercitas.jpg" alt="" style="border-radius:40px 0px 0px 40px; height: 100%;">			  
                    </div>
                    <div class="col p-4 d-flex flex-column position-static">
                        <h3 class="mb-0 text-warning" > MUJERCITAS </h3>
                        <strong class="d-inline-block mt-3 mb-2 " style="color: seashell;">Louisa May Alcott </strong>
                         <p class="card-text mb-4 mr-5 pb-5" style="color: seashell;">narra la vida de cuatro hermanas que viven con su madre en Nueva Inglaterra durante la Guerra de Secesión estadounidense...
                        </p>
                        <i class="fas fa-play fa-2x position-absolute " style="color: seashell; right:60px; bottom: 28px; cursor: pointer;"></i>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="row mb-2" style=" width: 70vw;">
        <div class="col-md-6"> 
            <div class=" align-items-center mr-2 mt-5" style=" border-radius: 40px; background: #17002c;	box-shadow: inset 17px 17px 9px #10001f, inset -17px -17px 9px #1e0039;">
                <div class="row pl-4 g-0 justify-content-center  mb-4 shadow-sm h-md-250 position-relative" >
                    <div class="  pt-4 col-auto d-none d-lg-block w-50">
                        <img class="w-100 h-100 pb-3" src="../../../../assets/imagenes/libros/invisible.webp" alt="" style="border-radius:40px 0px 0px 40px ;">			  
                    </div>
                    <div class="col p-4 d-flex flex-column position-static">
                        <h3 class="mb-0 text-info" >INVISIBLE </h3>
                        <strong class="d-inline-block mt-3 mb-2 " style="color: seashell;">  Eloy Moreno </strong>
                          <p class="card-text mb-2 mr-5 pb-5" style="color: seashell;">Un espacio donde reflexionar acerca de ser invisible, de la necesidad de pasar desapercibido y la necesidad de ser visto...</p>
                          <i class="fas fa-play fa-2x position-absolute " style="color: seashell; right:60px; bottom: 28px; cursor: pointer;"></i>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="align-items-center mt-5" style=" border-radius: 40px; background: #17002c;	box-shadow: inset 17px 17px 9px #10001f, inset -17px -17px 9px #1e0039;">
                <div class="row pl-4 g-0 justify-content-center  mb-4 shadow-sm h-md-250 position-relative" >
                    <div class="  pt-4 col-auto d-none d-lg-block w-50">
                        <img class="w-100 h-100 pb-3" src="../../../../assets/imagenes/libros/niño-olvido-dormir.webp" alt="" style="border-radius:40px 0px 0px 40px ;">			  
                    </div>
                    <div class="col p-4 d-flex flex-column position-static">
                        <h3 class="mb-0 text-secondary">EL NIÑO QUE OLVIDO DORMIR   </h3>
                        <strong class="d-inline-block mt-3 mb-2 " style="color: seashell;"> Rush Smith</strong>

                          <p class="card-text mb-2 mr-5 pb-4" style="color: seashell;">¿Cuánto pueden llegar a marcar las pesadillas infantiles a un niño? En el caso se Rush Smith...
                        </p>
                        <i class="fas fa-play fa-2x position-absolute " style="color: seashell; right:60px; bottom: 28px; cursor: pointer;"></i>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="row mb-2" style=" width: 70vw;">
        <div class="col-md-6"> 
            <div class=" align-items-center mr-2 mt-5" style=" border-radius: 40px; background: #17002c;	box-shadow: inset 17px 17px 9px #10001f, inset -17px -17px 9px #1e0039;">
                <div class="row pl-4 g-0 justify-content-center  mb-4 shadow-sm h-md-250 position-relative" >
                    <div class="  pt-4 col-auto d-none d-lg-block w-50">
                        <img class="w-100 h-100 pb-3" src="../../../../assets/imagenes/libros/todoloqueFuimos.webp" alt="" style="border-radius:40px 0px 0px 40px ;">			  
                    </div>
                    <div class="col p-4 d-flex flex-column position-static">
                        <h3 class="mb-0 text-danger" >TODO LO QUE FUIMOS </h3>
                        <strong class="d-inline-block mt-3 mb-2 " style="color: seashell;">Alberto Villarreal </strong>
                          <p class="card-text mb-auto mr-5 pb-5" style="color: seashell;">La poesía también está destinada para el público juvenil y uno de los libros más destacados de 2021 es «Todo lo que fuimos»…</p>
                        <i class="fas fa-play fa-2x position-absolute " style="color: seashell; right:60px; bottom: 28px; cursor: pointer;"></i>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="align-items-center mt-5" style=" border-radius: 40px; background: #17002c;	box-shadow: inset 17px 17px 9px #10001f, inset -17px -17px 9px #1e0039;">
                <div class="row pl-4 g-0 justify-content-center  mb-4 shadow-sm h-md-250 position-relative" >
                    <div class="  pt-4 col-auto d-none d-lg-block w-50">
                        <img class="w-100 h-100 pb-3" src="../../../../assets/imagenes/libros/treceRazones.webp" alt="" style="border-radius:40px 0px 0px 40px ;">			  
                    </div>
                    <div class="col p-4 d-flex flex-column position-static">
                        <h3 class="mb-0 text-warning" >POR TRECE RAZONES </h3>
                        <strong class="d-inline-block mt-3 mb-2 " style="color: seashell;">Jay Asher</strong>							  
                          <p class="card-text mb-4  mr-5 pb-4" style="color: seashell;">Por trece razones ha sido leído y disfrutado por millones de adolescentes estadounidenses, y se ha convertido en una serie popular ...
                        </p>
                        <i class="fas fa-play fa-2x position-absolute " style="color: seashell; right:60px; bottom: 28px; cursor: pointer;"></i>
                    </div>

                </div>
            </div>
        </div>

    </div>
</main>