<main class="main position-relative" style=" background: #17002c;">
				
    <h3 class="titulo text-center mb-5 text-uppercase" style="padding-top: 75px;">Selecciona tus preferencias </h3>
    <img src="../../../../assets/fondos/h2.svg" alt="" class="d-none d-sm-none d-md-block position-absolute w-100" style="top: 0px;">
    <img src="../../../../assets/fondos/h4.1.svg" alt="" class="d-block d-sm-block d-md-none position-absolute w-100" style="top: -2px; left: 0px;">
    
    <div class="py-3" style="background: #17002c;  box-shadow: inset 14px 14px 2px #0c0017, inset -14px -14px 2px #220041; width: 80%; margin-left: 100px;">
        <div class="enviar-1 pr-5 ml-4 d-flex justify-content-center aling-items-center py-2" style=" width: 96%; background-image: url(../../../../assets/fondos/confir.svg);">
            <button id="confir" routerLink = "/dashboard/discover/recommended" class="mx-5 d-sm-none d-md-block d-none d-sm-block bttn-fill"  style="font-size: 25px; background: #191d30; color: #8f1ff7ea; border-radius: 15px;" type="submit" bttn-fill >Confirmar</button>
            <button  routerLink = "/dashboard/discover/recommended" class="mx-5 d-sm-none d-md-block d-none d-sm-block bttn-fill"  style="font-size: 25px; background: #191d30; color: #8f1ff7ea; border-radius: 15px ;" type="reset" bttn-fill >Limpiar</button>
            <button class="mx-5 d-none d-sm-block d-md-none d-block d-sm-none bttn-fill" style="font-size: 25px; background: #191d30; color: #8f1ff7ea; border-radius: 15px ;"  type="submit" bttn-fill ><i class="fas fa-check"></i></button>
            <button class="mx-5 d-none d-sm-block d-md-none d-block d-sm-none bttn-fill" style="font-size: 25px; background: #191d30; color: #8f1ff7ea; border-radius: 15px;"  type="reset" bttn-fill ><i class="fas fa-trash-alt"></i></button>
        </div>
    </div>
    <div class="cuerpo-audio " style="padding: 85px; ">
        <div class="d-flex justify-content-center">
            <input type="checkbox"  id="POP" value="1"> 
            <label for="POP" class=" seleccion d-flex align-items-center justify-content-center "> POP</label>
        </div>
        <div class="d-flex justify-content-center">
            <input type="checkbox"  id="Rock" value="2"> 
            <label for="Rock" class=" seleccion d-flex align-items-center justify-content-center "> Rock</label>
        </div>
        <div class="d-flex justify-content-center">
            <input type="checkbox"  id="M-U" value="3"> 
            <label for="M-U" class=" seleccion d-flex align-items-center justify-content-center "> Música Urbana</label>
        </div>
        <div class="d-flex justify-content-center">
            <input type="checkbox"  id="AudioL" value="4"> 
            <label for="AudioL" class=" seleccion AudL d-flex align-items-center justify-content-center "> Audiolibros</label>
        </div>
        <div class="d-flex justify-content-center">
            <input type="checkbox"  id="Electrónica" value="5"> 
            <label for="Electrónica" class=" seleccion Elec d-flex align-items-center justify-content-center "> Electrónica</label>
        </div>
        <div class="d-flex justify-content-center">
            <input type="checkbox"  id="M-C" value="6"> 
            <label for="M-C" class=" seleccion d-flex align-items-center justify-content-center "> Música Clásica</label>
        </div>
        <div class="d-flex justify-content-center">
            <input type="checkbox"  id="Country" value="7"> 
            <label for="Country" class=" seleccion d-flex align-items-center justify-content-center "> Country</label>
        </div>
        <div class="d-flex justify-content-center">
            <input type="checkbox"  id="Nacional" value="8"> 
            <label for="Nacional" class=" seleccion d-flex align-items-center justify-content-center "> Nacional</label>
        </div>
        <div class="d-flex justify-content-center">
            <input type="checkbox"  id="Poesía" value="9"> 
            <label for="Poesía" class=" seleccion d-flex align-items-center justify-content-center "> Poesía</label>
        </div>
        <div class="d-flex justify-content-center">
            <input type="checkbox"  id="Cuentos" value="10"> 
            <label for="Cuentos" class=" seleccion d-flex align-items-center justify-content-center "> Cuentos</label>
        </div>
        <div class="d-flex justify-content-center">
            <input type="checkbox"  id="Comedia" value="11"> 
            <label for="Comedia" class=" seleccion d-flex align-items-center justify-content-center "> Comedia</label>
        </div>
        <div class="d-flex justify-content-center">
            <input type="checkbox"  id="Otros" value="12"> 
            <label for="Otros" class=" seleccion d-flex align-items-center justify-content-center "> Otros</label>
        </div>
    </div>



</main>