<div>
    <div class="text-center text-white" style="background-color: #ffffff;">
      <div class="pie-pag">
        <div class="mx-auto col-lg-9  col-md-9 col-sm-9 col-xs-9">
          <div class="ultimo mx-auto d-flex justify-content-around w-100 row">
            <div class="mt-4 py-2 col-lg-3  col-md-3  col-sm-2 col-xs-2  flex-column" data-aos="fade-down" >
              <h5 class="text-uppercase text-left mt-2" style="color: #0a002e !important;" >funciones</h5>
              <ul class="list-unstyled mb-2" style="border-left: 5px solid #170c46;">
                <li>
                  <a href="#!" class="f-link pl-2">Visualizacion de letras</a>
                </li>
                <li>
                  <a href="#!" class="f-link pl-2">Busqueda de letras</a>
                </li>
                <li>
                  <a href="#!" class="f-link pl-2">Estados de ánimo</a>
                </li>
                <li>
                  <a href="#!" class="f-link pl-2">Traducciones nativas</a>
                </li>
              </ul>
            </div>
            <div class="mt-4 py-2 col-lg-3  col-md-3  col-sm-2 col-xs-2  flex-column" data-aos="fade-down">
              <h5 class="text-uppercase text-left mt-2" style="color: #0a002e!important;" >Para Artistas</h5>
              
              <ul class="list-unstyled mb-2" style="border-left: 5px solid #170c46;">
                <li>
                  <a href="#!" class="f-link pl-2">Tu voz en un libro</a>
                </li>
                <li>
                  <a href="#!" class="f-link pl-2">Maximiza tu alcance</a>
                </li>
                <li>
                  <a href="#!" class="f-link pl-2">Verifica tus letras</a>
                </li>

              </ul>
            </div>

            <div class="mt-4 py-2 px-auto col-lg-3  col-md-7  col-sm-2 col-xs-2 flex-column" data-aos="fade-down" >

              <h5 class="text-uppercase text-left mt-2" style="color:#0a002e !important;" >COMUNIDAD</h5>
              <ul class="list-unstyled mb-2" style="border-left: 5px solid #170c46;">
                <li>
                  <a href="#!" class="f-link pl-2">Centro de ayuda</a>
                </li>
                <li>
                  <a href="#!" class="f-link pl-2">Preguntas </a>
                </li>

              </ul>
            </div>             
          </div>
        </div>
        <!-- ola -->
        <div class="mt-3">
          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="100%" height="43" preserveAspectRatio="none" viewBox="0 0 1560 83">
            <g mask="url(&quot;#SvgjsMask1311&quot;)" fill="none">
                <path d="M 0,24 C 44.6,32.8 133.8,65 223,68 C 312.2,71 356.8,42.6 446,39 C 535.2,35.4 579.8,57.8 669,50 C 758.2,42.2 802.8,-3.4 892,0 C 981.2,3.4 1025.8,59.4 1115,67 C 1204.2,74.6 1249,38.2 1338,38 C 1427,37.8 1515.6,60.4 1560,66L1560 83L0 83z" fill="rgba(61, 245, 202, 1)"></path>
            </g>
            <defs>
                <mask id="SvgjsMask1311">
                    <rect width="1560" height="83" fill="#ffffff"></rect>
                </mask>
            </defs>
        </svg>
      </div>
      <div class=" d-flex justify-content-evenly align-items-center mx-auto pt-4" style="	background: #3df5ca; width: 100vw;" >
        <li class="nav-item dropdown" style="list-style:none ">
          <button type="button" class="btn btn-rounded mb-3 mx-4 bttn-jelly bttn-md"  style="background: #1e1935;">
            <a routerLink="/auth/register" style="text-decoration: none; color: #7dfc16; "> ¡Registrate!</a>
          </button>
          <button class="bot mx-4" style="	background: none ; border: none;"  > <i style="color: #1e1935 ;" class="fas fa-cog fa-2x text-center"></i></button>
          <button class="bot mx-4" style="	background: none ; border: none;" > <i style="color: #1e1935 ;" class="fas fa-share-square fa-2x text-center"></i></button>
          <button class="bot mx-4" style="	background: none ; border: none;" href="#" id="navbarScrollingDropdown"  data-bs-toggle="dropdown" aria-expanded="false"  ><i style="color: #1e1935 ;" class="fas fa-globe-americas fa-2x text-center"></i></button>
          <ul class=" dropdown-menu w-auto " style="background:#1e1935;" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item text-center" style="color: #7dfc16;" href="#">Español</a></li>
            <li><a class="dropdown-item text-center" style="color: #7dfc16;" href="#">English</a></li>
            <li><a class="dropdown-item text-center" style="color: #7dfc16;" href="#">Français</a></li>
            <li><a class="dropdown-item text-center" style="color: #7dfc16;" href="#">中國人</a></li>
            <li><a class="dropdown-item text-center" style="color: #7dfc16;" href="#">한국인</a></li>
          </ul>
        </li>
      </div>
      <div class="text-center py-2" style="background-color: #1e1935; color: #CFF4D2;">
        © 2021 Copyright: <p class="mb-0">Yáscara Marianed Mendoza López</p>
      </div>
    </div>
</div>