<main class="main2  position-relative pb-5" style=" background: #17002c;">

    <h3 class="titulo text-center  text-uppercase" style="padding-top: 75px;">Estrenos del Año </h3>
    <img src="../../../../assets/fondos/h9.svg" alt="" class="d-none d-sm-none d-md-block position-absolute w-100" style="top: 0px;">
    <img src="../../../../assets/fondos/h8.1.svg" alt="" class="d-block d-sm-block d-md-none position-absolute w-100" style="top: -3px; left: 0px;">
    <!-- Mucica recomendada  -->

    <div style="width: 83vw">
        <div class="row mb-2 mx-auto" style="width: 70vw;" >
            <div class="col-md-6 ">  
                <div class=" align-items-center mr-2 mt-5" style=" border-radius: 40px; background: #17002c;	box-shadow: inset 17px 17px 9px #10001f, inset -17px -17px 9px #1e0039;">
                    <div class="row pl-4 g-0 justify-content-center  mb-4 shadow-sm h-md-250 position-relative" >
                        <div class="  pt-4 col-auto d-none d-lg-block w-50">
                            <img class="w-100 h-100 pb-3" src="../../../../assets/imagenes/nuevos/taccones.jpeg" alt="" style="border-radius:40px 0px 0px 40px ;">			  
                        </div>
                        <div class="col p-4 d-flex flex-column position-static">
                            <h3 class="mb-0 text-danger" >TACONES ROJOS </h3>
                            <strong class="d-inline-block mt-3 mb-2 " style="color: seashell;">Sebastian Yatra</strong>
    
                             <div class="mb-1 text-muted" style="color: seashell;"> Album / Tacones Rojos</div>
                          
                              <p class="card-text mb-auto mr-5 pb-5" style="color: seashell;">Hay un rayo de luz que entró por mi ventana y me ha devuelto las ganas me quita el dolor...</p>
                            <i class="fas fa-play fa-2x position-absolute " style="color: seashell; right:60px; bottom: 28px; cursor: pointer;"></i>
                        </div>
    
                    </div>
                </div>
            </div>
    
            <div class="col-md-6">
                <div class="align-items-center mt-5" style=" border-radius: 40px; background: #17002c;	box-shadow: inset 17px 17px 9px #10001f, inset -17px -17px 9px #1e0039;">
                    <div class="row pl-4 g-0 justify-content-center  mb-4 shadow-sm h-md-250 position-relative" >
                        <div class="  pt-4 col-auto d-none d-lg-block w-50">
                            <img class="w-100 h-100 pb-3" src="../../../../assets/imagenes/nuevos/mon.jpg" alt="" style="border-radius:40px 0px 0px 40px ;">			  
                        </div>
                        <div class="col p-4 d-flex flex-column position-static">
                            <h3 class="mb-0 text-warning" >MON AMOUR </h3>
                            <strong class="d-inline-block mt-3 mb-2 " style="color: seashell;">Zzoilo Ft. Aitana</strong>
    
                             <div class="mb-1 text-muted" style="color: seashell;">Colaboración</div>
                          
                              <p class="card-text mb-2 mr-5 pb-5" style="color: seashell;">Mon amour, je t'aime. Son las seis de la mañana y me da igual voy a salir a la calle, voy a ponerme a gritar
                                voy a gritar...
                            </p>
                            <i class="fas fa-play fa-2x position-absolute " style="color: seashell; right:60px; bottom: 28px; cursor: pointer;"></i>
                        </div>
    
                    </div>
                </div>
            </div>
    
        </div>
    
        <div class="row mb-2 mx-auto" style=" width: 70vw;">
            <div class="col-md-6"> 
                <div class=" align-items-center mr-2 mt-5" style=" border-radius: 40px; background: #17002c;	box-shadow: inset 17px 17px 9px #10001f, inset -17px -17px 9px #1e0039;">
                    <div class="row pl-4 g-0 justify-content-center  mb-4 shadow-sm h-md-250 position-relative" >
                        <div class="  pt-4 col-auto d-none d-lg-block w-50">
                            <img class="w-100 h-100 pb-3" src="../../../../assets/imagenes/nuevos/losTragos.jpg" alt="" style="border-radius:40px 0px 0px 40px ;">			  
                        </div>
                        <div class="col p-4 d-flex flex-column position-static">
                            <h3 class="mb-0 text-info" >LOS TRAGOS </h3>
                            <strong class="d-inline-block mt-3 mb-2 " style="color: seashell;">María Becerra Ft. Reik</strong>
    
                             <div class="mb-1 text-muted" style="color: seashell;"> Album / Los Tragos</div>
                          
                              <p class="card-text mb-2 mr-5 pb-5" style="color: seashell;">Sé que quedamos en no vernos más porque lo nuestro es dañino borré tu número del celular ...</p>
                              <i class="fas fa-play fa-2x position-absolute " style="color: seashell; right:60px; bottom: 28px; cursor: pointer;"></i>
                        </div>
    
                    </div>
                </div>
            </div>
    
            <div class="col-md-6">
                <div class="align-items-center mt-5" style=" border-radius: 40px; background: #17002c;	box-shadow: inset 17px 17px 9px #10001f, inset -17px -17px 9px #1e0039;">
                    <div class="row pl-4 g-0 justify-content-center  mb-4 shadow-sm h-md-250 position-relative" >
                        <div class="  pt-4 col-auto d-none d-lg-block w-50">
                            <img class="w-100 h-100 pb-3" src="../../../../assets/imagenes/nuevos/AunBeso.jpg" alt="" style="border-radius:40px 0px 0px 40px ;">			  
                        </div>
                        <div class="col p-4 d-flex flex-column position-static">
                            <h3 class="mb-0 text-secondary" >A UN BESO </h3>
                            <strong class="d-inline-block mt-3 mb-2 " style="color: seashell;">Danna Paola</strong>
    
                             <div class="mb-1 text-muted" style="color: seashell;"> Album / Cachito</div>
                          
                              <p class="card-text mb-2 mr-5 pb-4" style="color: seashell;">Tú transparente, sin un as bajo la manga sin un truco, pero magia en la mirada y yo la flor marchita que de tanta agua...
                            </p>
                            <i class="fas fa-play fa-2x position-absolute " style="color: seashell; right:60px; bottom: 28px; cursor: pointer;"></i>
                        </div>
    
                    </div>
                </div>
            </div>
    
        </div>
        <div class="row mb-2 mx-auto" style=" width: 70vw;">
            <div class="col-md-6"> 
                <div class=" align-items-center mr-2 mt-5" style=" border-radius: 40px; background: #17002c;	box-shadow: inset 17px 17px 9px #10001f, inset -17px -17px 9px #1e0039;">
                    <div class="row pl-4 g-0 justify-content-center  mb-4 shadow-sm h-md-250 position-relative" >
                        <div class="  pt-4 col-auto d-none d-lg-block w-50">
                            <img class="w-100 h-100 pb-3" src="../../../../assets/imagenes/nuevos/laFama.jpg" alt="" style="border-radius:40px 0px 0px 40px ;">			  
                        </div>
                        <div class="col p-4 d-flex flex-column position-static">
                            <h3 class="mb-0 text-danger" >LA FAMA </h3>
                            <strong class="d-inline-block mt-3 mb-2 " style="color: seashell;">Rosalía Ft. The Weeknd</strong>
    
                             <div class="mb-1 text-muted" style="color: seashell;"> Colaboración</div>
                          
                              <p class="card-text mb-auto mr-5 pb-5" style="color: seashell;">Lo que pasó, a ti te lo cuento no creas que no dolió o que me lo invento así es que se dio yo tenía mi bebé, era algo bien especial…</p>
                            <i class="fas fa-play fa-2x position-absolute " style="color: seashell; right:60px; bottom: 28px; cursor: pointer;"></i>
                        </div>
    
                    </div>
                </div>
            </div>
    
            <div class="col-md-6">
                <div class="align-items-center mt-5" style=" border-radius: 40px; background: #17002c;	box-shadow: inset 17px 17px 9px #10001f, inset -17px -17px 9px #1e0039;">
                    <div class="row pl-4 g-0 justify-content-center  mb-4 shadow-sm h-md-250 position-relative" >
                        <div class="  pt-4 col-auto d-none d-lg-block w-50">
                            <img class="w-100 h-100 pb-3" src="../../../../assets/imagenes/nuevos/indigo.jpg" alt="" style="border-radius:40px 0px 0px 40px ;">			  
                        </div>
                        <div class="col p-4 d-flex flex-column position-static">
                            <h3 class="mb-0 text-warning" >ÍNDIGO </h3>
                            <strong class="d-inline-block mt-3 mb-2 " style="color: seashell;">Camilo Ft. Evaluna Montaner</strong>
    
                             <div class="mb-1 text-muted" style="color: seashell;">Colaboración</div>
                          
                              <p class="card-text mb-3 mr-5 pb-4" style="color: seashell;">Como puede ser que uno sueñe con alguien que ni siquiera ha conocido no sé si es posible, pero yo llevo mucho...
                            </p>
                            <i class="fas fa-play fa-2x position-absolute " style="color: seashell; right:60px; bottom: 28px; cursor: pointer;"></i>
                        </div>
    
                    </div>
                </div>
            </div>
    
        </div>

    </div>

</main>