
		<main class="main pl-0 position-relative pb-5  flex-column d-flex  align-items-center"  style=" background: #17002c;">
            <h3 class="titulo text-center  text-uppercase" style="padding-top: 75px;">Artistas Populares </h3>
			<img src="../../../../assets/fondos/h13.svg" alt="" class="d-none d-sm-none d-md-block position-absolute w-100" style="top: 0px;">
			<img src="../../../../assets/fondos/h8.1.svg" alt="" class="d-block d-sm-block d-md-none position-absolute w-100" style="top: -3px; left: 0px;">
            
            <div class="cuerpo-audio-2 mx-4 ml-5" style="padding: 15px; ">
                <a href="#" class="caratula mb-5 pb-2" style="text-decoration: none;" >
                    <div class="w-100 ">
                        <img class=" mb-3 rounded-circle "  src="../../../../assets/imagenes/artistas/halsey.svg" style="width: 160px; height: 160px;"  alt="">
                        <div class="d-flex justify-content-center align-items-center flex-column"> 
                            <h6>HALSEY</h6>
                            <p class="text-muted">Artista</p>
                            <div >
                                <i class="fab fa-instagram px-2"></i>
                                <i class="fab fa-tiktok px-2"></i>
                                <i class="fab fa-twitter px-2"></i>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#" class="caratula mb-5 pb-2" style="text-decoration: none;" >
                    <div class="w-100 ">
                        <img class=" mb-3 rounded-circle "  src="../../../../assets/imagenes/artistas/lasso.svg"  style="width: 160px; height: 160px;" alt="">
                        <div class="d-flex justify-content-center align-items-center flex-column"> 
                            <h6>LASSO </h6>
                            <p class="text-muted">Artista</p>
                            <div >
                                <i class="fab fa-instagram px-2"></i>
                                <i class="fab fa-tiktok px-2"></i>
                                <i class="fab fa-twitter px-2"></i>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#" class="caratula mb-5 pb-2" style="text-decoration: none;" >
                    <div class="w-100 ">
                        <img class=" mb-3 rounded-circle "  src="../../../../assets/imagenes/artistas/sam.svg" style="width: 160px; height: 160px;"  alt="">
                        <div class="d-flex justify-content-center align-items-center flex-column"> 
                            <h6>SAM SMITH</h6>
                            <p class="text-muted">Artista</p>
                            <div >
                                <i class="fab fa-instagram px-2"></i>
                                <i class="fab fa-tiktok px-2"></i>
                                <i class="fab fa-twitter px-2"></i>
                            </div>
                        </div>
                    </div>
                </a>

                

                <a href="#" class="caratula mb-5 pb-2" style="text-decoration: none;" >
                    <div class="w-100 ">
                        <img class=" mb-3 rounded-circle "  src="../../../../assets/imagenes/artistas/juliaMichaels.svg"  style="width: 160px; height: 160px;" alt="">
                        <div class="d-flex justify-content-center align-items-center flex-column"> 
                            <h6>JULIA MICHAELS </h6>
                            <p class="text-muted">Artista</p>
                            <div >
                                <i class="fab fa-instagram px-2"></i>
                                <i class="fab fa-tiktok px-2"></i>
                                <i class="fab fa-twitter px-2"></i>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#" class="caratula mb-5 pb-2" style="text-decoration: none;" >
                    <div class="w-100 ">
                        <img class=" mb-3 rounded-circle "  src="../../../../assets/imagenes/artistas/sebastian.svg" style="width: 160px; height: 160px;"  alt="">
                        <div class="d-flex justify-content-center align-items-center flex-column"> 
                            <h6>SEBASTIAN YATRA</h6>
                            <p class="text-muted">Artista</p>
                            <div >
                                <i class="fab fa-instagram px-2"></i>
                                <i class="fab fa-tiktok px-2"></i>
                                <i class="fab fa-twitter px-2"></i>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#" class="caratula mb-5 pb-2" style="text-decoration: none;" >
                    <div class="w-100">
                        <img class=" mb-3 rounded-circle "  src="../../../../assets/imagenes/artistas/camilo.svg"  style="width: 160px; height: 160px;" alt="">
                        <div class="d-flex justify-content-center align-items-center flex-column"> 
                            <h6>CAMILO</h6>
                            <p class="text-muted">Artista</p>
                            <div >
                                <i class="fab fa-instagram px-2"></i>
                                <i class="fab fa-tiktok px-2"></i>
                                <i class="fab fa-twitter px-2"></i>
                            </div>
                        </div>
                    </div>
                </a>

                <a href="#" class="caratula mb-5 pb-2" style="text-decoration: none;" >
                    <div class="w-100 ">
                        <img class=" mb-3 rounded-circle "  src="../../../../assets/imagenes/artistas/badBunny.svg" style="width: 160px; height: 160px;"  alt="">
                        <div class="d-flex justify-content-center align-items-center flex-column"> 
                            <h6>BAD BUNNY</h6>
                            <p class="text-muted">Artista</p>
                            <div >
                                <i class="fab fa-instagram px-2"></i>
                                <i class="fab fa-tiktok px-2"></i>
                                <i class="fab fa-twitter px-2"></i>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#" class="caratula mb-5 pb-2" style="text-decoration: none;" >
                    <div class="w-100 ">
                        <img class=" mb-3 rounded-circle "  src="../../../../assets/imagenes/artistas/jBalvin.svg" style="width: 160px; height: 160px;"  alt="">
                        <div class="d-flex justify-content-center align-items-center flex-column"> 
                            <h6>J BALVIN</h6>
                            <p class="text-muted">Artista</p>
                            <div >
                                <i class="fab fa-instagram px-2"></i>
                                <i class="fab fa-tiktok px-2"></i>
                                <i class="fab fa-twitter px-2"></i>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#" class="caratula mb-5 pb-2" style="text-decoration: none;" >
                    <div class="w-100 ">
                        <img class=" mb-3 rounded-circle "  src="../../../../assets/imagenes/artistas/humbe.svg"  style="width: 160px; height: 160px;" alt="">
                        <div class="d-flex justify-content-center align-items-center flex-column"> 
                            <h6>HUMBE</h6>
                            <p class="text-muted"> Artista</p>
                            <div >
                                <i class="fab fa-instagram px-2"></i>
                                <i class="fab fa-tiktok px-2"></i>
                                <i class="fab fa-twitter px-2"></i>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#" class="caratula mb-5 pb-2" style="text-decoration: none;" >
                    <div class="w-100 ">
                        <img class=" mb-3 rounded-circle "  src="../../../../assets/imagenes/artistas/leo.svg"  style="width: 160px; height: 160px;" alt="">
                        <div class="d-flex justify-content-center align-items-center flex-column"> 
                            <h6>LEO RIZZI</h6>
                            <p class="text-muted">Artista</p>
                            <div >
                                <i class="fab fa-instagram px-2"></i>
                                <i class="fab fa-tiktok px-2"></i>
                                <i class="fab fa-twitter px-2"></i>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#" class="caratula mb-5 pb-2" style="text-decoration: none;" >
                    <div class="w-100 ">
                        <img class=" mb-3 rounded-circle "  src="../../../../assets/imagenes//artistas/karol.svg" style="width: 160px; height: 160px;"  alt="">
                        <div class="d-flex justify-content-center align-items-center flex-column"> 
                            <h6>KAROL G</h6>
                            <p class="text-muted">Artista</p>
                            <div >
                                <i class="fab fa-instagram px-2"></i>
                                <i class="fab fa-tiktok px-2"></i>
                                <i class="fab fa-twitter px-2"></i>
                            </div>
                        </div>
                    </div>
                </a>

                <a href="#" class="caratula mb-5 pb-2" style="text-decoration: none;" >
                    <div class="w-100 ">
                        <img class=" mb-3 rounded-circle "  src="../../../../assets/imagenes/artistas/rosalia.svg" style="width: 160px; height: 160px;"  alt="">
                        <div class="d-flex justify-content-center align-items-center flex-column"> 
                            <h6>ROSALÍA</h6>
                            <p class="text-muted">Artista</p>
                            <div >
                                <i class="fab fa-instagram px-2"></i>
                                <i class="fab fa-tiktok px-2"></i>
                                <i class="fab fa-twitter px-2"></i>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#" class="caratula mb-5 pb-2" style="text-decoration: none;" >
                    <div class="w-100 ">
                        <img class=" mb-3 rounded-circle "  src="../../../../assets/imagenes/artistas/justin.svg" style="width: 160px; height: 160px;"  alt="">
                        <div class="d-flex justify-content-center align-items-center flex-column"> 
                            <h6>JUSTIN BIEBER</h6>
                            <p class="text-muted">Artista</p>
                            <div >
                                <i class="fab fa-instagram px-2"></i>
                                <i class="fab fa-tiktok px-2"></i>
                                <i class="fab fa-twitter px-2"></i>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#" class="caratula mb-5 pb-2" style="text-decoration: none;" >
                    <div class="w-100 ">
                        <img class=" mb-3 rounded-circle "  src="../../../../assets/imagenes/artistas/dualipa.svg"  style="width: 160px; height: 160px;" alt="">
                        <div class="d-flex justify-content-center align-items-center flex-column"> 
                            <h6>DUA LIPA</h6>
                            <p class="text-muted">Artista</p>
                            <div >
                                <i class="fab fa-instagram px-2"></i>
                                <i class="fab fa-tiktok px-2"></i>
                                <i class="fab fa-twitter px-2"></i>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#" class="caratula mb-5 pb-2" style="text-decoration: none;" >
                    <div class="w-100 ">
                        <img class=" mb-3 rounded-circle "  src="../../../../assets/imagenes/artistas/theWeknd.svg"  style="width: 160px; height: 160px;" alt="">
                        <div class="d-flex justify-content-center align-items-center flex-column"> 
                            <h6>THE WEEKND</h6>
                            <p class="text-muted">Artista</p>
                            <div >
                                <i class="fab fa-instagram px-2"></i>
                                <i class="fab fa-tiktok px-2"></i>
                                <i class="fab fa-twitter px-2"></i>
                            </div>
                        </div>
                    </div>
                </a>

                <a href="#" class="caratula mb-5 pb-2" style="text-decoration: none;" >
                    <div class="w-100 ">
                        <img class=" mb-3 rounded-circle "  src="../../../../assets/imagenes/artistas/raw.svg" style="width: 160px; height: 160px;"  alt="">
                        <div class="d-flex justify-content-center align-items-center flex-column"> 
                            <h6>RAUW ALEJANDRO</h6>
                            <p class="text-muted">Artista</p>
                            <div >
                                <i class="fab fa-instagram px-2"></i>
                                <i class="fab fa-tiktok px-2"></i>
                                <i class="fab fa-twitter px-2"></i>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#" class="caratula mb-5 pb-2" style="text-decoration: none;" >
                    <div class="w-100 ">
                        <img class=" mb-3 rounded-circle "  src="../../../../assets/imagenes/artistas/danna.svg" style="width: 160px; height: 160px;"  alt="">
                        <div class="d-flex justify-content-center align-items-center flex-column"> 
                            <h6>DANNA PAOLA</h6>
                            <p class="text-muted">DANNA PAOLA</p>
                            <div >
                                <i class="fab fa-instagram px-2"></i>
                                <i class="fab fa-tiktok px-2"></i>
                                <i class="fab fa-twitter px-2"></i>
                            </div>
                        </div>
                    </div>
                </a>

                <a href="#" class="caratula mb-5 pb-2" style="text-decoration: none;" >
                    <div class="w-100 ">
                        <img class=" mb-3 rounded-circle "  src="../../../../assets/imagenes/artistas/danny.svg" style="width: 160px; height: 160px;"  alt="">
                        <div class="d-flex justify-content-center align-items-center flex-column"> 
                            <h6>DANNY OCEAN</h6>
                            <p class="text-muted">Artista</p>
                            <div >
                                <i class="fab fa-instagram px-2"></i>
                                <i class="fab fa-tiktok px-2"></i>
                                <i class="fab fa-twitter px-2"></i>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#" class="caratula mb-5 pb-2" style="text-decoration: none;" >
                    <div class="w-100 ">
                        <img class=" mb-3 rounded-circle "  src="../../../../assets/imagenes/artistas/laurenJaregui.svg" style="width: 160px; height: 160px;"  alt="">
                        <div class="d-flex justify-content-center align-items-center flex-column"> 
                            <h6>LUREN JAREGUI</h6>
                            <p class="text-muted">Artista</p>
                            <div >
                                <i class="fab fa-instagram px-2"></i>
                                <i class="fab fa-tiktok px-2"></i>
                                <i class="fab fa-twitter px-2"></i>
                            </div>
                        </div>
                    </div>
                </a>

                <a href="#" class="caratula mb-5 pb-2" style="text-decoration: none;" >
                    <div class="w-100 ">
                        <img class=" mb-3 rounded-circle "  src="../../../../assets/imagenes/artistas/camila.svg"  style="width: 160px; height: 160px;" alt="">
                        <div class="d-flex justify-content-center align-items-center flex-column"> 
                            <h6>CAMILA CABELLO</h6>
                            <p class="text-muted">Artista</p>
                            <div >
                                <i class="fab fa-instagram px-2"></i>
                                <i class="fab fa-tiktok px-2"></i>
                                <i class="fab fa-twitter px-2"></i>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#" class="caratula mb-5 pb-2" style="text-decoration: none;" >
                    <div class="w-100 ">
                        <img class=" mb-3 rounded-circle "  src="../../../../assets/imagenes/artistas/alessiaCara.svg" style="width: 160px; height: 160px;"  alt="">
                        <div class="d-flex justify-content-center align-items-center flex-column"> 
                            <h6> ALESSIA CARA</h6>
                            <p class="text-muted">Artista</p>
                            <div >
                                <i class="fab fa-instagram px-2"></i>
                                <i class="fab fa-tiktok px-2"></i>
                                <i class="fab fa-twitter px-2"></i>
                            </div>
                        </div>
                    </div>
                </a>

                <a href="#" class="caratula mb-5 pb-2" style="text-decoration: none;" >
                    <div class="w-100 ">
                        <img class=" mb-3 rounded-circle "  src="../../../../assets/imagenes/artistas/aitana.svg"  style="width: 160px; height: 160px;" alt="">
                        <div class="d-flex justify-content-center align-items-center flex-column"> 
                            <h6>AITANA</h6>
                            <p class="text-muted">Artista</p>
                            <div >
                                <i class="fab fa-instagram px-2"></i>
                                <i class="fab fa-tiktok px-2"></i>
                                <i class="fab fa-twitter px-2"></i>
                            </div>
                        </div>
                    </div>
                </a>
               

            </div>

		</main>