<main class="main position-relative" style=" background: #17002c;">
    <h3 class="titulo text-center  text-uppercase" style="padding-top: 75px;">Recomendados </h3>
    <img src="../../../../assets/fondos/h5.svg" alt="" class="d-none d-sm-none d-md-block position-absolute w-100" style="top: 0px;">
    <img src="../../../../assets/fondos/h5.1.svg" alt="" class="d-block d-sm-block d-md-none position-absolute w-100" style="top: -3px; left: 0px;">
    <!-- Mucica recomendada -->
    <div class=" recomendado ml-5">
        <p style="font-size:1rem; color: #fff;"><i class="fas fa-music  mr-3 p-3" style="background: #1a0033; box-shadow:  5px 5px 2px #10001f, -5px -5px 2px #240047; color: aqua; border-radius: 50px;"></i> Música</p>
        <hr style="color: #fff;">
    </div>
    <div class="cuerpo-audio-2 mx-4 ml-5" style="padding: 15px; ">
        <a href="#" class="caratula" >
            <div class="w-100 position-relative">
                <img class="img-fluid mt-3 " src="../../../../assets/imagenes/caratulas/1.jpg" alt="">
                <div class="mask d-flex justify-content-center align-items-center flex-column"> 
                    <h5>Happier</h5>
                    <p>DJ Marshmello</p>
                    <i class="fas fa-play p-3 " style="background: #17002c; border-radius:50px; color: #fff; margin-left:95px; margin-top:25px;  font-size: 15px"></i>        
                </div>
            </div>
        </a>
        <a href="#" class="caratula" >
            <div class="w-100 position-relative">
                <img class="img-fluid mt-3 "  src="../../../../assets/imagenes/caratulas/2.jpg" alt="">
                <div class="mask d-flex justify-content-center align-items-center flex-column"> 
                    <h5>Happier</h5>
                    <p>DJ Marshmello</p>
                    <i class="fas fa-play p-3 " style="background: #17002c; border-radius:50px; color: #fff; margin-left:95px; margin-top:25px;  font-size: 15px"></i>                            
                </div>
            </div>
        </a>

        <a href="#" class="caratula" >
            <div class="w-100 position-relative">
                <img class="img-fluid mt-3 "  src="../../../../assets/imagenes/caratulas/4.jpg" alt="">
                <div class="mask d-flex justify-content-center align-items-center flex-column"> 
                    <h5>Happier</h5>
                    <p>DJ Marshmello</p>
                    <i class="fas fa-play p-3 " style="background: #17002c; border-radius:50px; color: #fff; margin-left:95px; margin-top:25px;  font-size: 15px"></i>                            
                </div>
            </div>
        </a>
        <a href="#" class="caratula" >
            <div class="w-100 position-relative">
                <img class="img-fluid mt-3 "  src="../../../../assets/imagenes/caratulas/8.jpg" alt="">
                <div class="mask d-flex justify-content-center align-items-center flex-column"> 
                    <h5>Happier</h5>
                    <p>DJ Marshmello</p>
                    <i class="fas fa-play p-3 " style="background: #17002c; border-radius:50px; color: #fff; margin-left:95px; margin-top:25px;  font-size: 15px"></i>                            
                </div>
            </div>
        </a>
        <a href="#" class="caratula" >
            <div class="w-100 position-relative">
                <img class="img-fluid mt-3 "  src="../../../../assets/imagenes/caratulas/9.jpg" alt="">
                <div class="mask d-flex justify-content-center align-items-center flex-column"> 
                    <h5>Happier</h5>
                    <p>DJ Marshmello</p>
                    <i class="fas fa-play p-3 " style="background: #17002c; border-radius:50px; color: #fff; margin-left:95px; margin-top:25px;  font-size: 15px"></i>                            
                </div>
            </div>
        </a>
        <a href="#" class="caratula " >
            <div class="w-100 position-relative">
                <img class="img-fluid mt-3 "  src="../../../../assets/imagenes/caratulas/10.jpg" alt="">
                <div class="mask d-flex justify-content-center align-items-center flex-column"> 
                    <h5>Happier</h5>
                    <p>DJ Marshmello</p>
                    <i class="fas fa-play p-3 " style="background: #17002c; border-radius:50px; color: #fff; margin-left:95px; margin-top:25px;  font-size: 15px"></i>                            
                </div>
            </div>
        </a>
        <a href="#" class="caratula d-none d-sm-none d-md-block" >
            <div class="w-100 position-relative">
                <img class="img-fluid mt-3 "  src="../../../../assets/imagenes/caratulas/10.jpg" alt="">
                <div class="mask d-flex justify-content-center align-items-center flex-column"> 
                    <h5>Happier</h5>
                    <p>DJ Marshmello</p>
                    <i class="fas fa-play p-3 " style="background: #17002c; border-radius:50px; color: #fff; margin-left:95px; margin-top:25px;  font-size: 15px"></i>                            
                </div>
            </div>
        </a>
        <a href="#" class="caratula d-none d-sm-none d-md-block" >
            <div class="w-100 position-relative">
                <img class="img-fluid mt-3 "  src="../../../../assets/imagenes/caratulas/10.jpg" alt="">
                <div class="mask d-flex justify-content-center align-items-center flex-column"> 
                    <h5>Happier</h5>
                    <p>DJ Marshmello</p>
                    <i class="fas fa-play p-3 " style="background: #17002c; border-radius:50px; color: #fff; margin-left:95px; margin-top:25px;  font-size: 15px"></i>                            
                </div>
            </div>
        </a>

        <a href="#" class="caratula d-none d-sm-none d-md-block" >
            <div class="w-100 position-relative">
                <img class="img-fluid mt-3 "  src="../../../../assets/imagenes/caratulas/11.jpg" alt="">
                <div class="mask d-flex justify-content-center align-items-center flex-column"> 
                    <h5>Happier</h5>
                    <p>DJ Marshmello</p>
                    <i class="fas fa-play p-3 " style="background: #17002c; border-radius:50px; color: #fff; margin-left:95px; margin-top:25px;  font-size: 15px"></i>                            
                </div>
            </div>
        </a>
        <a href="#" class="caratula d-none d-sm-none d-md-block" >
            <div class="w-100 position-relative">
                <img class="img-fluid mt-3 "  src="../../../../assets/imagenes/caratulas/11.jpg" alt="">
                <div class="mask d-flex justify-content-center align-items-center flex-column"> 
                    <h5>Happier</h5>
                    <p>DJ Marshmello</p>
                    <i class="fas fa-play p-3 " style="background: #17002c; border-radius:50px; color: #fff; margin-left:95px; margin-top:25px;  font-size: 15px"></i>                            
                </div>
            </div>
        </a>
        <a href="#" class="caratula d-none d-sm-none d-md-block" >
            <div class="w-100 position-relative">
                <img class="img-fluid mt-3 "  src="../../../../assets/imagenes/caratulas/11.jpg" alt="">
                <div class="mask d-flex justify-content-center align-items-center flex-column"> 
                    <h5>Happier</h5>
                    <p>DJ Marshmello</p>
                    <i class="fas fa-play p-3 " style="background: #17002c; border-radius:50px; color: #fff; margin-left:95px; margin-top:25px;  font-size: 15px"></i>                            
                </div>
            </div>
        </a>
        <a href="#" class="caratula d-none d-sm-none d-md-block" >
            <div class="w-100 position-relative">
                <img class="img-fluid mt-3 "  src="../../../../assets/imagenes/caratulas/12.jpg" alt="">
                <div class="mask d-flex justify-content-center align-items-center flex-column"> 
                    <h5>Happier</h5>
                    <p>DJ Marshmello</p>
                    <i class="fas fa-play p-3 " style="background: #17002c; border-radius:50px; color: #fff; margin-left:95px; margin-top:25px;  font-size: 15px"></i>                            
                </div>
            </div>
        </a>
    </div>
    
    <!-- libros -->
    <div class=" recomendado mt-5 ml-5">
        <p style="font-size:1rem; color: #fff;"><i class="fas fa-book  mr-3 p-3" style="background: #1a0033; box-shadow:  5px 5px 2px #10001f, -5px -5px 2px #240047; color: rgb(0, 255, 8); border-radius: 50px;"></i> Audiolibros</p>
        <hr style="color: #fff;">
    </div>

    <div class="cuerpo-audio-2 mx-4 ml-5" style="padding: 15px; ">
        <a href="#" class="caratula" >
            <div class="w-100 position-relative">
                <img class="img-fluid mt-3 "  src="../../../../assets/imagenes/caratulas/10.jpg" alt="">
                <div class="mask d-flex justify-content-center align-items-center flex-column"> 
                    <h5>Happier</h5>
                    <p>DJ Marshmello</p>
                    <i class="fas fa-play p-3 " style="background: #17002c; border-radius:50px; color: #fff; margin-left:95px; margin-top:25px;  font-size: 15px"></i>                            
                </div>
            </div>
        </a>
        <a href="#" class="caratula" >
            <div class="w-100 position-relative">
                <img class="img-fluid mt-3 "  src="../../../../assets/imagenes/caratulas/10.jpg" alt="">
                <div class="mask d-flex justify-content-center align-items-center flex-column"> 
                    <h5>Happier</h5>
                    <p>DJ Marshmello</p>
                    <i class="fas fa-play p-3 " style="background: #17002c; border-radius:50px; color: #fff; margin-left:95px; margin-top:25px;  font-size: 15px"></i>                            
                </div>
            </div>
        </a>

        <a href="#" class="caratula" >
            <div class="w-100 position-relative">
                <img class="img-fluid mt-3 "  src="../../../../assets/imagenes/caratulas/11.jpg" alt="">
                <div class="mask d-flex justify-content-center align-items-center flex-column"> 
                    <h5>Happier</h5>
                    <p>DJ Marshmello</p>
                    <i class="fas fa-play p-3 " style="background: #17002c; border-radius:50px; color: #fff; margin-left:95px; margin-top:25px;  font-size: 15px"></i>                            
                </div>
            </div>
        </a>
        <a href="#" class="caratula" >
            <div class="w-100 position-relative">
                <img class="img-fluid mt-3 "  src="../../../../assets/imagenes/caratulas/11.jpg" alt="">
                <div class="mask d-flex justify-content-center align-items-center flex-column"> 
                    <h5>Happier</h5>
                    <p>DJ Marshmello</p>
                    <i class="fas fa-play p-3 " style="background: #17002c; border-radius:50px; color: #fff; margin-left:95px; margin-top:25px;  font-size: 15px"></i>                            
                </div>
            </div>
        </a>
        <a href="#" class="caratula" >
            <div class="w-100 position-relative">
                <img class="img-fluid mt-3 "  src="../../../../assets/imagenes/caratulas/11.jpg" alt="">
                <div class="mask d-flex justify-content-center align-items-center flex-column"> 
                    <h5>Happier</h5>
                    <p>DJ Marshmello</p>
                    <i class="fas fa-play p-3 " style="background: #17002c; border-radius:50px; color: #fff; margin-left:95px; margin-top:25px;  font-size: 15px"></i>                            
                </div>
            </div>
        </a>
        <a href="#" class="caratula" >
            <div class="w-100 position-relative">
                <img class="img-fluid mt-3 "  src="../../../../assets/imagenes/caratulas/12.jpg" alt="">
                <div class="mask d-flex justify-content-center align-items-center flex-column"> 
                    <h5>Happier</h5>
                    <p>DJ Marshmello</p>
                    <i class="fas fa-play p-3 " style="background: #17002c; border-radius:50px; color: #fff; margin-left:95px; margin-top:25px;  font-size: 15px"></i>                            
                </div>
            </div>
        </a>
    </div>
     <!-- comedia -->
     <div class=" recomendado mt-5 ml-5 ">
        <p style="font-size:1rem; color: #fff;"><i class="fas fa-grin-squint-tears  mr-3 p-3" style="background: #1a0033; box-shadow:  5px 5px 2px #10001f, -5px -5px 2px #240047; color: rgb(243, 255, 22); border-radius: 50px;"></i> Comedia</p>
        <hr style="color: #fff;">
    </div>
    <div class="cuerpo-audio-2 mx-4 ml-5" style="padding: 15px; ">
        <a href="#" class="caratula" >
            <div class="w-100 position-relative">
                <img class="img-fluid mt-3 "  src="../../../../assets/imagenes/caratulas/10.jpg" alt="">
                <div class="mask d-flex justify-content-center align-items-center flex-column"> 
                    <h5>Happier</h5>
                    <p>DJ Marshmello</p>
                    <i class="fas fa-play p-3 " style="background: #17002c; border-radius:50px; color: #fff; margin-left:95px; margin-top:25px;  font-size: 15px"></i>                            
                </div>
            </div>
        </a>
        <a href="#" class="caratula" >
            <div class="w-100 position-relative">
                <img class="img-fluid mt-3 "  src="../../../../assets/imagenes/caratulas/10.jpg" alt="">
                <div class="mask d-flex justify-content-center align-items-center flex-column"> 
                    <h5>Happier</h5>
                    <p>DJ Marshmello</p>
                    <i class="fas fa-play p-3 " style="background: #17002c; border-radius:50px; color: #fff; margin-left:95px; margin-top:25px;  font-size: 15px"></i>                            
                </div>
            </div>
        </a>

        <a href="#" class="caratula" >
            <div class="w-100 position-relative">
                <img class="img-fluid mt-3 "  src="../../../../assets/imagenes/caratulas/11.jpg" alt="">
                <div class="mask d-flex justify-content-center align-items-center flex-column"> 
                    <h5>Happier</h5>
                    <p>DJ Marshmello</p>
                    <i class="fas fa-play p-3 " style="background: #17002c; border-radius:50px; color: #fff; margin-left:95px; margin-top:25px;  font-size: 15px"></i>                            
                </div>
            </div>
        </a>
        <a href="#" class="caratula" >
            <div class="w-100 position-relative">
                <img class="img-fluid mt-3 "  src="../../../../assets/imagenes/caratulas/11.jpg" alt="">
                <div class="mask d-flex justify-content-center align-items-center flex-column"> 
                    <h5>Happier</h5>
                    <p>DJ Marshmello</p>
                    <i class="fas fa-play p-3 " style="background: #17002c; border-radius:50px; color: #fff; margin-left:95px; margin-top:25px;  font-size: 15px"></i>                            
                </div>
            </div>
        </a>
        <a href="#" class="caratula" >
            <div class="w-100 position-relative">
                <img class="img-fluid mt-3 "  src="../../../../assets/imagenes/caratulas/11.jpg" alt="">
                <div class="mask d-flex justify-content-center align-items-center flex-column"> 
                    <h5>Happier</h5>
                    <p>DJ Marshmello</p>
                    <i class="fas fa-play p-3 " style="background: #17002c; border-radius:50px; color: #fff; margin-left:95px; margin-top:25px;  font-size: 15px"></i>                            
                </div>
            </div>
        </a>
        <a href="#" class="caratula" >
            <div class="w-100 position-relative">
                <img class="img-fluid mt-3 "  src="../../../../assets/imagenes/caratulas/12.jpg" alt="">
                <div class="mask d-flex justify-content-center align-items-center flex-column"> 
                    <h5>Happier</h5>
                    <p>DJ Marshmello</p>
                    <i class="fas fa-play p-3 " style="background: #17002c; border-radius:50px; color: #fff; margin-left:95px; margin-top:25px;  font-size: 15px"></i>                            
                </div>
            </div>
        </a>
    </div>
</main>