*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../fondos/registro.svg);
    background-repeat:no-repeat ;
    background-size: cover;
    overflow-x: hidden;
   
}
.formulario{
    background: #36003369 !important;
    color: white !important;
    border-radius: 50px;  
}
.form-control{
    border-radius: 60px !important;
}

.btn-primary{
    background-color: #00bed5 !important;
    border: #00bed5 !important;
}
