/*COLORES
#205072
#329D9C
#56C596
#7DE495
#CFF4D2
#C6FF00
#C04848

#480048

#360033
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    overflow-x: hidden;
}
main{
    background: #360033;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,#360033e3, #0b8793e3 ), url(../fondos/2.jpg);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,#360033e3, #0b8793e3 ), url(../fondos/2.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


::-webkit-scrollbar {display: none;} 

.navbar-toggler{
    box-shadow: none !important;
    border: none !important;
}
  
.menu{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background: #4192c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #29b9b2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #29b9b2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    justify-content: space-evenly;   
}
.menu .nav-link{
    color:#a7f0ad ;
    font-size: 40px;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 55% ;
    background-repeat: no-repeat;
    background-size: 0% 10px;
    transition: background-size .6s;
    
}
.menu .nav-link:hover{
    font-size: 50px;
    background-size: 100% 7px;
    color: #360033;
}

.navbar-toggler:focus{
    box-shadow: initial !important ;
}

/*social*/
.d-flex{
    flex-wrap:nowrap ;
}

.navbar> .iconos,a,img{
    background: transparent;
}
/*titulo*/

.main h1 {
    font-family: 'Rampart One', cursive;
    font-size: 10rem;
    color: #5df7dd;
    text-decoration: none;
    animation-duration: 3s;
    animation-delay: 0s;
}
.main h1:hover{
    color: #7dfc16;
    cursor: pointer;
    text-decoration: none;
}

/* arreglado */

.buscar input{
    border-radius: 50px !important;
    
}
.buscar input::placeholder{
    color: #00f5f5;
    font-size: 18px;
    font-family: 'Yaldevi', sans-serif, sans-serif,"FontAwesome";
    font-weight: 100; 
}
/* arreglado */
.uno{
    font-family: 'Raleway', sans-serif;
    color: #360033;
 }
.cuerpo{
    font-family: 'Raleway', sans-serif;
    color: #a7f0ad ;
}
.fotos{
    margin-bottom: 50px;
    cursor: pointer;
    box-shadow: 0 0 6px 0 #a7f0ad;
    border-radius: 25px 25px 0 0;
    padding-left: 0 !important;
    padding-right: 0 !important;
    
}
.fotos img{
    display: block;
    transition: all 1.5s ease-in-out;
    transform: scale(.9, .9);
}
.fotos:hover img{
    transform: scale(1.3, 1.3);
}

.bttn-jelly{
    border-color: aqua;
}
.t1{
    font-family: 'Righteous', cursive;
}
/* arreglado */
.dropdown-toggle::after{
    content: none !important;
}
.pie label{
    color: #a7f0ad;
}
.dropdown-item:hover{
    color: #1e1935 !important;
    font-weight: bold;
}
.list-unstyled li>a{
    color: #0a002e!important; 
    text-decoration: none !important;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100% ;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}
.list-unstyled li>a:hover{
    color: #840ff1 !important;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Montserrat Alternates', sans-serif;
    background-size: 100% 2px;

}
.list-unstyled{
    text-align: left !important;
    line-height: 2.5;
}

.nav-item .fas:hover{
    color: #fff;
    font-size: 25px;
}
@media screen and (max-width:900px){
    h1{
        font-size:8rem;
        margin-left: 8rem !important;
    }
    .icono a{
        font-size: 30px;
    }
    .boton span{
        font-size: 35px;
        padding-left: 0;
    }
    
}

@media screen and (max-width:800px) {
    h1{
        font-size:8rem;
        margin-left: 5rem !important;
    }
    .iconos a{
        font-size: 25px !important;
    }
    .boton span{
        font-size: 30px;
    }
}
@media screen and (max-width:726px) {
    h1{
        font-size:6rem;
        margin-left: 1rem !important;
    }
    .iconos a{
        font-size: 20px !important;
    }
    .boton span{
        font-size: 20px;
    }
}
@media screen and (max-width:618px) {
    h1{
        font-size: 6rem !important;
        margin-left: 1rem !important;
    }
    .iconos a{
        font-size: 20px !important;
    }
    .boton span{
        font-size: 20px;
    }

}
@media screen and (max-width:500px) {
    h1{
        font-size:5rem !important;
        margin-left: 2rem !important;
    }  
    .iconos a{
        font-size: 15px !important;
    }
    .boton span{
        font-size: 10px;
    }
    .todo{
        width: 500px;
    }
    .a{
        clip-path: circle(0% at 93% 5%);
    }
    .registro{
        font-size: 10px;
    }
 
}
@media screen and (max-width:368px) {
    h1{
        font-size:4rem !important;
        margin-left: 2rem !important;
    }  
    .iconos a{
        height: 15%;
        font-size: 15px !important;
    }
    .iconos a>i{
        
        padding-left: 5px  !important ;
        padding-right: 5px !important;
       
    }
    .boton, span{
        font-size: 10px;
        padding-left: 0px;
        width: 360px;
    }
    .menu{
        height: 640px;
    }
    /* arreglado */
    .registro{
        font-size: 20px !important;
        
    }
    .bot i{
        font-size: 20px;
    }
    .nav-item .bot{
        margin-right:5px !important;
        justify-content: center !important;

    }
    .bttn-jelly{
        height: 40px !important;
        width: 7.2rem !important;
    }
    .pie-pag .ultimo{
        justify-content: center !important;
        margin-left: 5rem !important;
    }

}